.video {
  .mejs-container, .mejs-poster {
    height: auto !important;
  }
  .mejs-mediaelement {
    margin: 0 auto;
    position: relative;
    padding-bottom: 52.5%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
    margin-bottom: 20px;

    & > video {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}
.mod-js {
  .video-nojs {
    display: none;
  }
}