@import '../../core/mixins';

.divider {
    background: $gradientEnds;
    @include background-image(linear-gradient(45deg, $gradientEnds, $gradientMiddle, $gradientEnds));
    height: 2px;
    background-size: 25% 100%;
    margin: 2em 0;
}

.divider.float-breaker {
    background: none;
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(enabled=false)";
    clear: both;
    margin: 0;
    padding: 0;
    border: 0;
    height: auto;
}