@font-face {
  font-family: 'Raleway';
  /* src: url("../../assets/fonts/raleway/Raleway-Black.ttf");
  src: url("../../assets/fonts/raleway/Raleway-BlackItalic.ttf");
  src: url("../../assets/fonts/raleway/Raleway-Bold.ttf");
  src: url("../../assets/fonts/raleway/Raleway-BoldItalic.ttf");
  src: url("../../assets/fonts/raleway/Raleway-ExtraBold.ttf");
  src: url("../../assets/fonts/raleway/Raleway-ExtraBoldItalic.ttf");
  src: url("../../assets/fonts/raleway/Raleway-ExtraLight.ttf");
  src: url("../../assets/fonts/raleway/Raleway-ExtraLightItalic.ttf");
  src: url("../../assets/fonts/raleway/Raleway-Light.ttf");
  src: url("../../assets/fonts/raleway/Raleway-LightItalic.ttf");
  src: url("../../assets/fonts/raleway/Raleway-Medium.ttf");
  src: url("../../assets/fonts/raleway/Raleway-MediumItalic.ttf");
  src: url("../../assets/fonts/raleway/Raleway-Regular.ttf");
 /*  src: url("../../assets/fonts/raleway/Raleway-SemiBold.ttf");
  src: url("../../assets/fonts/raleway/Raleway-SemiBoldItalic.ttf");
  src: url("../../assets/fonts/raleway/Raleway-Thin.ttf");
  src: url("../../assets/fonts/raleway/Raleway-ThinItalic.ttf"); */
  font-style: normal;
}



@font-face {
  font-family: 'AvantGarde';
  src: url('../../assets/fonts/avantgarde/33ED2B_0_0.eot');
  src: url('../../assets/fonts/avantgarde/33ED2B_0_0.eot?#iefix') format('embedded-opentype');
  src: url('../../assets/fonts/avantgarde/33ED2B_0_0.woff2') format('woff2');
  src: url('../../assets/fonts/avantgarde/33ED2B_0_0.woff') format('woff');
  src: url('../../assets/fonts/avantgarde/33ED2B_0_0.ttf') format('truetype');
  font-style: normal;
  font-weight: bold;
}
@font-face {
  font-family: 'AvantGarde';
  src: url('../../assets/fonts/avantgarde/33ED2B_1_0.eot');
  src: url('../../assets/fonts/avantgarde/33ED2B_1_0.eot?#iefix') format('embedded-opentype');
  src: url('../../assets/fonts/avantgarde/33ED2B_1_0.woff2') format('woff2');
  src: url('../../assets/fonts/avantgarde/33ED2B_1_0.woff') format('woff');
  src: url('../../assets/fonts/avantgarde/33ED2B_1_0.ttf') format('truetype');
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: 'AvantGarde';
  src: url('../../assets/fonts/avantgarde/33ED2B_2_0.eot');
  src: url('../../assets/fonts/avantgarde/33ED2B_2_0.eot?#iefix') format('embedded-opentype');
  src: url('../../assets/fonts/avantgarde/33ED2B_2_0.woff2') format('woff2');
  src: url('../../assets/fonts/avantgarde/33ED2B_2_0.woff') format('woff');
  src: url('../../assets/fonts/avantgarde/33ED2B_2_0.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

