#footer {

  .shareThis-list {
    padding: 0;
    margin: 0;
    li {
      margin-bottom: 0;
      padding-bottom: 0;
    }
  }
  .box-960 .component-content .content {
    padding: 0;
  }
  .primary-darker-bg {
    padding: 20px 0 40px 0;
    .section.first {
      margin: 0;
      p {
        margin: 0;
        padding: 0;
        line-height: 28px;
        @include respond-to(mobile) {
          line-height: 18px;
        }
        @include respond-to(tablet) {
          line-height: 18px;
        }
      }
    }
    .section.last {
      margin: 0;
      p {
        margin: 0;
        padding: 0;
        line-height: 1em;
      }
    }
    .small-font {
      letter-spacing: initial;
    }
  }


  font-size: 12px;
  .box {
    margin-bottom: 0;
  }
  .primary-bg {
    .content {
      padding: 0;
    }
    .richText {
      padding: 0;
      position: relative;
      text-align: right;
      ul {
        margin: 0;
        padding: 0;
        line-height: 1em;
        li {
          list-style-type: none;
          display: inline-block;
          color: $text-light;
          padding: 33px 0 33px 47px;
          a {
            color: $text-light;
            &:hover {
              color: $text-light;
            }
          }
        }
      }
    }
  }

  @include respond-to(mobile) {

    .shareThis-list {
      padding: 0;
      margin: 0;
      li {
        margin-bottom: 0;
        padding-bottom: 0;
      }
    }
    .box-960 .component-content .content {
      padding: 0;
    }
    .primary-darker-bg {
      padding: 20px;
      .box.first {
        width: 40%;
        float: left;
        p {
          margin: 0;
          padding: 0 0 10px 0;
          line-height: 1.3em;
        }
      }
      .box.last {
        width: 60%;
        float: left;
      }
      .small-font {
        letter-spacing: initial;
      }
    }


    font-size: 12px;
    .box {

    }
    .primary-bg {
      .content {

      }
      .richText {

        ul {
          margin: 0;
          padding: 10px 0;
          text-align: left;
          li {
            margin: 0;
            padding: 15px;
            width: 48%;
            display: inline-block;
            text-align: left;
          }
        }
      }
    }

  }

  @include respond-to(tablet) {
    .primary-bg .richText ul li {
      padding: 15px;
    }
    .primary-darker-bg .section.first {
      padding-left: 15px;
    }
  }


  .zinc-code {
    width: 960px;
    max-width: 100%;
    padding: 0 20px;
    color: #fff;
    font-size: 1em;
    position: relative;
    margin: 0 auto;
    margin-top: -40px;
    p {
      font-size: 0.8em;
      color: #fff;
      text-align: right;
    }

    @include respond-to(mobile) {
      margin: 0;
      background: $color-primary-darker ;
    }
  }

}


@media print {

  body.page-treatment #wrapper *,
  body.page-diagnosis #wrapper *,
  body.page-disclosure #wrapper *,
  body.page-talking-with-your-doctor #wrapper *
  {
    display: none;
  }


  body #wrapper .box-visible {
    display: block!important;
  }

  body .snippetReference.unity-tool { width: 80%;}
  body .snippetReference.unity-tool * {
    display: block!important;
    input { display: none!important;}
  }
  body .snippetReference.unity-tool input {display: none!important}
  body .snippetReference.unity-tool span { display: inline-block; float: left; margin-top: 20px}

  .box-960 .component-content .content {
    max-width: 100%;
  }
}