@import '../core/mixins';


.exit-notification {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5);
  z-index: 991000;
  .richText {
    h3 {
      font-size: 1.1em;
      font-weight: normal;
      margin: 0;
      padding: 0 0 10px 0;
      background: transparent;
      &:before {
        display: none;
      }
      strong {
        font-weight: normal;
      }
    }
    p {
      margin: 0;
      padding: 10px 0;
      font-size: 0.8em;
    }
  }



  &.is-hidden {
    display: none;
  }

  .exit-notification-inner {
    $width: 500px;
    position: fixed;
    top: 100px;
    width: $width;
    margin-left: -($width/2 + 13); // remove padding
    left: 50%;
    @include innerspace;
    @include filled;
    background: $white;

    @media screen and (max-width: 699px) {
      position: absolute;
      width: auto;
      margin: 20px;
      left: 0;
      top: 0;
    }
  }

}

@media screen and (max-width: 699px) {
  .exit-notification-restrictive {
    position: absolute;
  }
}


.exit-notification-buttons {
  text-align: center;
  padding-top: 10px;
  button {
    border-radius: 6px;
    background: $color-primary;
    color: #fff;
    padding: 5px 20px;
    border: 0px solid $color-primary-darker;
    margin: 0 15px;
    min-width: 120px;
  }
}