@media print {

  body #wrapper * {
    display: none;
  }


  body #wrapper .box-visible {
    display: block!important;
  }

  body .snippetReference.unity-tool * {
    display: block!important;
  }

}
