/* COLOR NAMES
----------------------------------------- */
/*theme colors*/
/*hard-coded colors*/
/* FUNCTIONAL COLORS
----------------------------------------- */
/*border colors*/
/*text colors*/
/*background colors*/
/*gradient colors*/
.exit-notification { position: fixed; top: 0; left: 0; height: 100%; width: 100%; background: black; background: rgba(0, 0, 0, 0.5); z-index: 991000; }

.exit-notification .richText h3 { font-size: 1.1em; font-weight: normal; margin: 0; padding: 0 0 10px 0; background: transparent; }

.exit-notification .richText h3:before { display: none; }

.exit-notification .richText h3 strong { font-weight: normal; }

.exit-notification .richText p { margin: 0; padding: 10px 0; font-size: 0.8em; }

.exit-notification.is-hidden { display: none; }

.exit-notification .exit-notification-inner { position: fixed; top: 100px; width: 500px; margin-left: -263px; left: 50%; padding: 13px; background-color: #e1e1e1; background: white; }

@media screen and (max-width: 699px) { .exit-notification .exit-notification-inner { position: absolute; width: auto; margin: 20px; left: 0; top: 0; } }

@media screen and (max-width: 699px) { .exit-notification-restrictive { position: absolute; } }

.exit-notification-buttons { text-align: center; padding-top: 10px; }

.exit-notification-buttons button { border-radius: 6px; background: #12919f; color: #fff; padding: 5px 20px; border: 0px solid #10818e; margin: 0 15px; min-width: 120px; }
