/* COLOR NAMES
----------------------------------------- */
/*theme colors*/
/*hard-coded colors*/
/* FUNCTIONAL COLORS
----------------------------------------- */
/*border colors*/
/*text colors*/
/*background colors*/
/*gradient colors*/
/* line 3, ../../sass/components/carousel/_carousel-base.scss */
.carousel {
  position: relative;
  border: solid 2px #323131;
  background-color: #e1e1e1;
  padding: 15px 60px;
}

/* line 10, ../../sass/components/carousel/_carousel-base.scss */
.carousel-slides {
  overflow: hidden;
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
}

/* line 18, ../../sass/components/carousel/_carousel-base.scss */
.carousel-slide {
  clear: both;
  position: absolute;
  width: 100%;
}

/* line 24, ../../sass/components/carousel/_carousel-base.scss */
.carousel-slide .no-content,
.carousel-slide .no-image {
  text-align: center;
}

/* line 29, ../../sass/components/carousel/_carousel-base.scss */
.carousel-slide.is-active {
  display: block;
  position: relative;
}

/* line 34, ../../sass/components/carousel/_carousel-base.scss */
.carousel-cover {
  max-width: 50%;
  height: auto;
  float: right;
}

/* line 40, ../../sass/components/carousel/_carousel-base.scss */
.carousel-slide .image-and-content {
  overflow: hidden;
}

/* line 44, ../../sass/components/carousel/_carousel-base.scss */
.carousel-slide .no-content .carousel-cover {
  float: none;
  max-width: 100%;
}

/* line 49, ../../sass/components/carousel/_carousel-base.scss */
.carousel-slide .no-image .carousel-content {
  float: none;
  max-width: 100%;
}

/* line 54, ../../sass/components/carousel/_carousel-base.scss */
.carousel-content {
  max-width: 48%;
  float: left;
  text-align: left;
  -moz-transition-property: margin;
  -o-transition-property: margin;
  -webkit-transition-property: margin;
  transition-property: margin;
  -moz-transition-duration: 200ms;
  -o-transition-duration: 200ms;
  -webkit-transition-duration: 200ms;
  transition-duration: 200ms;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
  width: 100%;
}

/* line 64, ../../sass/components/carousel/_carousel-base.scss */
.carousel-nav {
  text-align: center;
  margin-top: 20px;
  overflow: hidden;
  padding: 0;
}

/* line 71, ../../sass/components/carousel/_carousel-base.scss */
.carousel-nav li {
  display: inline-block;
  margin: 0 3px;
}

/* line 77, ../../sass/components/carousel/_carousel-base.scss */
.carousel-nav a {
  display: inline-block;
  border: 2px solid #656363;
  width: 10px;
  height: 10px;
  font-size: 0;
  color: transparent;
}

/* line 86, ../../sass/components/carousel/_carousel-base.scss */
.carousel-nav li.is-active a {
  background: #939191;
}

/* line 90, ../../sass/components/carousel/_carousel-base.scss */
.carousel-nav-prev,
.carousel-nav-next {
  position: absolute;
  top: 50%;
  border: none;
  width: 19px;
  height: 31px;
}

/* line 99, ../../sass/components/carousel/_carousel-base.scss */
.carousel-nav-prev a,
.carousel-nav-next a {
  border: none;
  display: block;
  width: 100%;
  height: 100%;
}

/* line 107, ../../sass/components/carousel/_carousel-base.scss */
.carousel-nav-prev {
  left: 10px;
}
/* line 109, ../../sass/components/carousel/_carousel-base.scss */
.carousel-nav-prev a:before {
  content: "\f053";
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  position: relative;
  font-weight: normal;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 30px;
  color: #939191;
}
/* line 114, ../../sass/components/carousel/_carousel-base.scss */
.carousel-nav-prev a:hover:before {
  color: #323131;
}

/* line 120, ../../sass/components/carousel/_carousel-base.scss */
.carousel-nav-next {
  right: 10px;
}
/* line 122, ../../sass/components/carousel/_carousel-base.scss */
.carousel-nav-next a:before {
  content: "\f054";
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  position: relative;
  font-weight: normal;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 30px;
  color: #939191;
}
/* line 127, ../../sass/components/carousel/_carousel-base.scss */
.carousel-nav-next a:hover:before {
  color: #323131;
}

/* line 133, ../../sass/components/carousel/_carousel-base.scss */
.no-js .carousel .carousel-slide:first-child {
  margin-top: 0;
  border-top: none;
}
/* line 137, ../../sass/components/carousel/_carousel-base.scss */
.no-js .carousel .carousel-slide {
  position: static;
}
/* line 140, ../../sass/components/carousel/_carousel-base.scss */
.no-js .carousel .carousel-nav li {
  display: none;
}

/* line 148, ../../sass/components/carousel/_carousel-base.scss */
.lt-ie8 .carousel-nav li {
  display: inline;
  zoom: 1;
}
/* line 152, ../../sass/components/carousel/_carousel-base.scss */
.lt-ie8 .carousel-nav li.is-active a {
  background: #939191;
}
/* line 155, ../../sass/components/carousel/_carousel-base.scss */
.lt-ie8 .carousel-nav .carousel-nav-prev, .lt-ie8 .carousel-nav .carousel-nav-next {
  width: 19px;
  height: 31px;
}
/* line 158, ../../sass/components/carousel/_carousel-base.scss */
.lt-ie8 .carousel-nav .carousel-nav-prev a, .lt-ie8 .carousel-nav .carousel-nav-next a {
  border: none;
  display: block;
  width: 100%;
  height: 100%;
}
/* line 165, ../../sass/components/carousel/_carousel-base.scss */
.lt-ie8 .carousel-nav a {
  display: block;
  zoom: 1;
  border: 2px solid #656363;
  width: 10px;
  height: 10px;
}

@media only screen and (max-width: 767px) {
  /* line 175, ../../sass/components/carousel/_carousel-base.scss */
  .carousel-cover {
    max-width: 100%;
    float: none;
    margin: auto;
    display: block;
  }

  /* line 181, ../../sass/components/carousel/_carousel-base.scss */
  .carousel-content {
    max-width: 100%;
    float: none;
  }

  /* line 186, ../../sass/components/carousel/_carousel-base.scss */
  .carousel-nav li {
    display: none;
  }
  /* line 189, ../../sass/components/carousel/_carousel-base.scss */
  .carousel-nav .carousel-nav-prev,
  .carousel-nav .carousel-nav-next {
    display: block;
  }
}
