/* COLOR NAMES
----------------------------------------- */
/*theme colors*/
/*hard-coded colors*/
/* FUNCTIONAL COLORS
----------------------------------------- */
/*border colors*/
/*text colors*/
/*background colors*/
/*gradient colors*/
/* line 3, ../../sass/components/fileList/_fileList-base.scss */
.fileList-heading {
  display: block;
  color: #323131;
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 10px;
}

/* line 7, ../../sass/components/fileList/_fileList-base.scss */
.fileList-date {
  margin-bottom: 10px;
  color: #868484;
}

/* line 12, ../../sass/components/fileList/_fileList-base.scss */
.fileList-file {
  margin-bottom: 20px;
  overflow: hidden;
}

/* line 17, ../../sass/components/fileList/_fileList-base.scss */
.fileList-description {
  overflow: hidden;
}

/* line 21, ../../sass/components/fileList/_fileList-base.scss */
.fileList-title {
  display: block;
  color: #323131;
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 10px;
}

/* line 25, ../../sass/components/fileList/_fileList-base.scss */
.fileList-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* line 31, ../../sass/components/fileList/_fileList-base.scss */
.fileList-thumbnail {
  max-width: 100px;
  float: left;
  margin-right: 15px;
}

/* line 37, ../../sass/components/fileList/_fileList-base.scss */
.fileList-download {
  text-align: right;
}

/* line 41, ../../sass/components/fileList/_fileList-base.scss */
.fileList-download-size {
  color: #868484;
  display: block;
}

@media only screen and (max-width: 767px) {
  /* line 47, ../../sass/components/fileList/_fileList-base.scss */
  .fileList-thumbnail {
    float: none;
    margin: auto;
    display: block;
  }
}
