/* COLOR NAMES
----------------------------------------- */
/*theme colors*/
/*hard-coded colors*/
/* FUNCTIONAL COLORS
----------------------------------------- */
/*border colors*/
/*text colors*/
/*background colors*/
/*gradient colors*/
/* line 3, ../../sass/components/searchBox/_searchBox-base.scss */
.searchBox .form .form-content .textField {
  display: inline;
  float: left;
  margin-right: 15px;
}

/* line 9, ../../sass/components/searchBox/_searchBox-base.scss */
.searchBox .form .form-content .formButton {
  display: inline;
  float: left;
}

/* line 14, ../../sass/components/searchBox/_searchBox-base.scss */
.no-box.searchBox .form .form-content .section {
  margin: 0 15px 0 0;
}

/* line 18, ../../sass/components/searchBox/_searchBox-base.scss */
.no-box.searchBox .form .form-content .formButton.section {
  margin: -1px 0 0;
}

/* line 22, ../../sass/components/searchBox/_searchBox-base.scss */
.searchBox input[type=text] {
  width: 81px;
}

/* line 26, ../../sass/components/searchBox/_searchBox-base.scss */
.searchBox-title {
  cursor: default;
}

/* line 30, ../../sass/components/searchBox/_searchBox-base.scss */
.form-search.no-box,
.form-search.no-box .section {
  margin-top: 0;
  margin-bottom: 0;
}

/* line 36, ../../sass/components/searchBox/_searchBox-base.scss */
.lt-ie8 .button {
  margin-left: 4px;
}
