/* COLOR NAMES
----------------------------------------- */
/*theme colors*/
/*hard-coded colors*/
/* FUNCTIONAL COLORS
----------------------------------------- */
/*border colors*/
/*text colors*/
/*background colors*/
/*gradient colors*/
/* line 3, ../../sass/components/shareThis/_shareThis-base.scss */
.shareThis-list {
  overflow: hidden;
  margin: 0;
  padding: 0;
  list-style: none;
}

/* line 10, ../../sass/components/shareThis/_shareThis-base.scss */
.shareThis-list li {
  float: left;
  width: auto;
  height: 26px;
  margin: 0 10px 10px 0;
}

/* line 17, ../../sass/components/shareThis/_shareThis-base.scss */
.shareThis-list li:last-child {
  margin-right: 0;
  margin-right: 0;
}

/* line 22, ../../sass/components/shareThis/_shareThis-base.scss */
.shareThis-item a {
  display: block;
  height: 26px;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -o-transition: all .3s;
  -ms-transition: all .3s;
  transition: all .3s;
}

/* line 32, ../../sass/components/shareThis/_shareThis-base.scss */
.shareThis-item img {
  opacity: 0.7;
  -webkit-transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  -o-transition: opacity .2s ease-in-out;
  transition: opacity .2s ease-in-out;
}

/* line 40, ../../sass/components/shareThis/_shareThis-base.scss */
.shareThis-item a:hover img {
  opacity: 1;
}
