/* COLOR NAMES
----------------------------------------- */
/*theme colors*/
/*hard-coded colors*/
/* FUNCTIONAL COLORS
----------------------------------------- */
/*border colors*/
/*text colors*/
/*background colors*/
/*gradient colors*/
/* line 3, ../../sass/components/smartLink/_smartLink-base.scss */
.smart-link {
  margin: 10px 0;
}

/* line 7, ../../sass/components/smartLink/_smartLink-base.scss */
.smart-link-list {
  overflow: hidden;
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

/* line 15, ../../sass/components/smartLink/_smartLink-base.scss */
.smart-link-list li {
  display: inline-block;
  *display: inline;
}

/* line 19, ../../sass/components/smartLink/_smartLink-base.scss */
.smart-link-next:after,
.smart-link-previous:before {
  position: relative;
  top: -1px;
  height: 14px;
  display: inline-block;
  width: 6px;
  font-size: 8px;
  color: #000;
}

/* line 30, ../../sass/components/smartLink/_smartLink-base.scss */
.smart-link-next:after {
  content: "\f054";
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  position: relative;
  font-weight: normal;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-left: 10px;
}

/* line 35, ../../sass/components/smartLink/_smartLink-base.scss */
.smart-link-previous:before {
  content: "\f053";
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  position: relative;
  font-weight: normal;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-right: 10px;
}
