/* COLOR NAMES
----------------------------------------- */
/*theme colors*/
/*hard-coded colors*/
/* FUNCTIONAL COLORS
----------------------------------------- */
/*border colors*/
/*text colors*/
/*background colors*/
/*gradient colors*/
/* COLOR NAMES
----------------------------------------- */
/*theme colors*/
/*hard-coded colors*/
/* FUNCTIONAL COLORS
----------------------------------------- */
/*border colors*/
/*text colors*/
/*background colors*/
/*gradient colors*/
/* Basic theme */
.articleTeaser { background-color: #ffffff; transition: 0.6s; margin-bottom: 30px; }

@media only screen and (min-width: 768px) and (max-width: 989px) { .articleTeaser.grid_4.section { margin-left: 2% !important; margin-bottom: 2% !important; } }

.articleTeaser.color-1 .articleTeaser-image-holder { border-color: #e2001d; }

.articleTeaser.color-2 .articleTeaser-image-holder { border-color: #1e6575; }

.articleTeaser.color-3 .articleTeaser-image-holder { border-color: #02c1c1; }

.articleTeaser.color-4 .articleTeaser-image-holder { border-color: #f8c91a; }

.articleTeaser.color-5 .articleTeaser-image-holder { border-color: #51a045; }

.articleTeaser .articleTeaser-text-description { min-height: 50px; }

.articleTeaser .articleTeaser-text-description p { margin: 0; padding: 0 0 10px 0; line-height: 1.2em; }

.articleTeaser .articleTeaser-image-holder { border-bottom-width: 5px; border-bottom-color: #e2001d; border-bottom-style: solid; line-height: 0; }

@media only screen and (max-width: 767px) { .articleTeaser .articleTeaser-image-holder { width: 40%; } }

.articleTeaser .articleTeaser-image-holder > a { position: relative; display: block; }

.articleTeaser .articleTeaser-image-holder > a:before { content: ''; position: absolute; top: 50%; left: 50%; margin-top: -33px; margin-left: -33px; width: 65px; height: 65px; border: 3px solid #fff; border-radius: 50%; z-index: 9; }

.articleTeaser .articleTeaser-image-holder > a:after { content: ''; position: absolute; top: 50%; left: 50%; margin-top: -11px; margin-left: -7px; z-index: 10; width: 0; height: 0; border-top: 16px solid transparent; border-bottom: 16px solid transparent; border-left: 25px solid #ffffff; }

.articleTeaser .articleTeaser-image-holder img { transition: 0.6s; width: 100%; -webkit-filter: grayscale(1); filter: grayscale(1); filter: gray; position: relative; }

.articleTeaser .articleTeaser-text-content { padding: 0 15px; padding-bottom: 20px; border-color: #d7e4e4; border-style: solid; border-width: 1px; border-top-color: transparent; }

.articleTeaser .articleTeaser-text-content h2, .articleTeaser .articleTeaser-text-content p { font-size: 14px; }

.articleTeaser .articleTeaser-text-content h2 { padding-top: 20px; text-transform: uppercase; }

.articleTeaser .articleTeaser-text-content h2 a { color: #12919f; font-weight: bold; }

.articleTeaser:hover { -webkit-box-shadow: 0px 6px 24px -3px rgba(0, 0, 0, 0.25); -moz-box-shadow: 0px 6px 24px -3px rgba(0, 0, 0, 0.25); box-shadow: 0px 6px 24px -3px rgba(0, 0, 0, 0.25); transition: 0.6s; }

.articleTeaser:hover img { transition: 0.6s; filter: grayscale(0%); }

@media only screen and (max-width: 767px) { .articleTeaser .component-content { display: flex; align-items: stretch; }
  .articleTeaser .component-content > a { width: 40%; display: inline-block; }
  .articleTeaser .component-content > a img { height: 100%; }
  .articleTeaser .component-content .articleTeaser-text-content { padding: 10px; width: 60%; }
  .articleTeaser .component-content .articleTeaser-text-content h2 { padding-top: 0; } }
