@charset "UTF-8";
/* COLOR NAMES
----------------------------------------- */
/*theme colors*/
/*hard-coded colors*/
/* FUNCTIONAL COLORS
----------------------------------------- */
/*border colors*/
/*text colors*/
/*background colors*/
/*gradient colors*/
/* COLOR NAMES
----------------------------------------- */
/*theme colors*/
/*hard-coded colors*/
/* FUNCTIONAL COLORS
----------------------------------------- */
/*border colors*/
/*text colors*/
/*background colors*/
/*gradient colors*/
/* COLOR NAMES
----------------------------------------- */
/*theme colors*/
/*hard-coded colors*/
/* FUNCTIONAL COLORS
----------------------------------------- */
/*border colors*/
/*text colors*/
/*background colors*/
/*gradient colors*/
.box.left-content { margin-top: 60px; }

@media only screen and (max-width: 767px) { .box.left-content { margin-top: 10px; } }

.box-outlined .component-content { border: solid 2px #323131; padding: 13px; background-color: #e1e1e1; }

.box-heading { display: block; color: #323131; font-size: 20px; font-weight: bold; padding-bottom: 10px; }

.box-more { display: block; text-align: right; }

/*#### ABOUT PP ####*/
.box.person-one { display: none; margin: 30px 0; }

@media only screen and (max-width: 767px) { .box.person-one { margin: -505px 0 10px 0; min-height: 350px; } }

.box.person-one .richText-content { padding: 40px 0; }

@media only screen and (max-width: 767px) { .box.person-one .richText-content { padding: 10px 0; } }

.box.person-one .richText-content p { font-size: 1.1em; }

.box.person-one .richText-content ul { font-size: 1.1em; color: #021549; padding-right: 15px; }

@media only screen and (max-width: 767px) { .box.person-one .richText-content { padding: 10px 0; }
  .box.person-one .richText-content p, .box.person-one .richText-content ul { font-size: 1em; } }

.box.person-two { display: none; margin: 30px 0; }

@media only screen and (max-width: 767px) { .box.person-two { margin: 10px 0 20px 0 !important; min-height: 350px; } }

.box.person-two .richText-content { padding: 40px 0; }

@media only screen and (max-width: 767px) { .box.person-two .richText-content { padding: 10px 0; } }

.box.person-two .richText-content p { font-size: 1.1em; }

.box.person-two .richText-content ul { font-size: 1.1em; color: #021549; padding-right: 15px; }

@media only screen and (max-width: 767px) { .box.person-two .richText-content { padding: 10px 0; }
  .box.person-two .richText-content p, .box.person-two .richText-content ul { font-size: 1em; } }

.primary-bg { background-color: #12919f; color: #ffffff; }

.primary-bg .richText { margin-bottom: 0; }

/* COLOR NAMES
----------------------------------------- */
/*theme colors*/
/*hard-coded colors*/
/* FUNCTIONAL COLORS
----------------------------------------- */
/*border colors*/
/*text colors*/
/*background colors*/
/*gradient colors*/
.secondary-bg { background-color: #d7e4e4; }

.secondary-bg .richText { margin-bottom: 0; }

.secondary-bg h1, .secondary-bg h2, .secondary-bg h3, .secondary-bg h4, .secondary-bg p { color: #1e6575; }

.primary-darker-bg { background-color: #10818e; }

.primary-darker-bg .richText { margin-bottom: 0; }

.primary-darker-bg .richText p, .primary-darker-bg .richText h1, .primary-darker-bg .richText h2, .primary-darker-bg .richText h3, .primary-darker-bg .richText h4 { color: #ffffff; }

.hero { position: relative; overflow: hidden; padding-bottom: 20px; }

.hero .box-heading { position: absolute; top: 0; right: 40px; color: #fff; display: inline-block; padding: 5px 15px; font-size: 11px; font-weight: normal; }

.hero .box-heading:before { padding: 0 10px 0 0; content: ""; display: inline-block; font-family: FontAwesome; font-style: normal; position: relative; font-weight: normal; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

.hero .box-heading:after { content: ''; border-top: 26px solid rgba(255, 255, 255, 0.3); border-left: 10px solid transparent; border-right: 10px solid transparent; height: 0; width: 275px; position: absolute; top: 0; right: -5px; }

@media only screen and (max-width: 420px) { .hero .box-heading { right: 0; left: 0; }
  .hero .box-heading:after { width: 100%; } }

@media only screen and (max-width: 420px) { .hero .box-heading { right: 0; left: 0; }
  .hero .box-heading:after { width: 100%; } }

@media only screen and (min-width: 768px) and (max-width: 989px) { .hero .box-heading { right: 0; left: 0; }
  .hero .box-heading:after { width: 100%; } }

.hero > .component-content { background-position: center 320px; padding-bottom: 60px; background-size: 83%; background-repeat: no-repeat; min-height: 550px; border-radius: 0 0 100% 100%; margin-top: -300px; margin-left: -200px; margin-right: -200px; box-shadow: 22px 7px 0 #e2001d; }

@media only screen and (max-width: 767px) { .hero > .component-content { min-height: 480px; } }

@media only screen and (min-width: 768px) and (max-width: 989px) { .hero > .component-content { min-height: 480px; } }

.hero > .component-content .content { max-width: 960px; margin: 0 auto; }

.hero > .component-content .content p, .hero > .component-content .content h1, .hero > .component-content .content h2, .hero > .component-content .content h3, .hero > .component-content .content h4 { color: #ffffff; }

.hero > .component-content .content p { margin-top: 0; font-size: 0.8em; }

.hero > .component-content .content h1 { line-height: 1; }

.hero.color-1 > .component-content { box-shadow: 22px 7px 0 #e2001d; }

.hero.color-2 > .component-content { box-shadow: 22px 7px 0 #1e6575; }

.hero.color-3 > .component-content { box-shadow: 22px 7px 0 #02c1c1; }

.hero.color-4 > .component-content { box-shadow: 22px 7px 0 #f8c91a; }

.hero.color-5 > .component-content { box-shadow: 22px 7px 0 #51a045; }

@media only screen and (max-width: 767px) { .hero > .component-content { background-size: 150%; background-position: center 300px; }
  .hero > .component-content > .content { min-height: 200px; }
  .hero > .component-content > .content h1 { line-height: .9; }
  .hero > .component-content > .content p { text-align: justify; padding: 0 8%; font-size: 13px; } }

@media only screen and (min-width: 768px) and (max-width: 989px) { .hero .grid_9 { width: 100% !important; padding: 0 4%; } }

.page-home .hero > .component-content { background-position: center 300px; padding-bottom: 30px; background-size: 68%; background-repeat: no-repeat; min-height: 30px; padding-top: 300px; border-radius: 0 0 100% 100%; margin-top: -300px; margin-left: -500px; margin-right: -500px; box-shadow: 22px 7px 0 #e2001d; }

@media only screen and (max-width: 767px) { .page-home .hero > .component-content { padding-bottom: 0; background-size: 50%; margin-top: -300px; margin-left: -800px; margin-right: -800px; }
  .page-home .hero > .component-content > .content { max-width: 100vw; } }

@media only screen and (min-width: 768px) and (max-width: 989px) { .page-home .hero > .component-content { padding-bottom: 0; background-size: 40%; margin-top: -300px; margin-left: -800px; margin-right: -800px; }
  .page-home .hero > .component-content > .content { max-width: 100vw; } }

.box-960 .component-content { background-size: cover; background-position: bottom center; background-repeat: no-repeat; }

.box-960 .component-content .content { max-width: 960px; margin: 0 auto; padding: 15px 0; }

.box-960 .component-content .content .tiles { margin-bottom: 0; }

.box-960.last { margin-bottom: 0; }

@media only screen and (max-width: 767px) { .box-960 > .component-content { background-image: none; }
  .box-960 > .component-content > .content { text-align: left; padding: 0 10px !important; }
  .box-960 > .component-content > .content .tiles { padding: 0; } }

@media only screen and (min-width: 768px) and (max-width: 989px) { .box-960 .component-content { background-image: none; }
  .box-960 .component-content .content { text-align: left; padding-right: 15px; line-height: 1.3em; margin-bottom: 0; } }

.tiles .component-content .content { padding: 0; display: flex; justify-content: space-between; align-items: stretch; flex-wrap: wrap; }

.feature-box { background-color: #dddddd; padding: 15px; margin-bottom: 20px; }

.feature-box .richText p { padding: 0 0 10px 0; margin: 0; font-size: 14px; }

.feature-box .richText h3 { font-weight: bold; margin: 0; padding: 0; background: transparent; font-size: 1.2em; }

.feature-box .richText h3:before { display: none; }

.feature-box img { padding-top: 0; }

@media only screen and (max-width: 767px) { .feature-box .component-content.left { text-align: center; } }

@media only screen and (min-width: 768px) and (max-width: 989px) { .feature-box .component-content.left { text-align: center; } }

.indent-shadow { position: relative; -webkit-box-shadow: inset 0px 5px 10px 0 #a5a5a5; box-shadow: inset 0px 5px 10px 0 #a5a5a5; }

.indent-shadow:after { position: absolute; content: ''; border-style: solid; border-width: 15px 19px 0; border-color: #F5F5F5 transparent; display: block; width: 0; z-index: 1; bottom: -15px; left: 91px; top: 0; }

.indent-shadow.person-one:after { left: 50%; margin-left: -300px; }

.indent-shadow.person-two:after { left: 50%; margin-left: 200px; }
