/* COLOR NAMES
----------------------------------------- */
/*theme colors*/
/*hard-coded colors*/
/* FUNCTIONAL COLORS
----------------------------------------- */
/*border colors*/
/*text colors*/
/*background colors*/
/*gradient colors*/
.carousel { position: relative; border: solid 2px #323131; background-color: #e1e1e1; padding: 15px 60px; }

.carousel-slides { overflow: hidden; margin: 0; padding: 0; list-style: none; position: relative; }

.carousel-slide { clear: both; position: absolute; width: 100%; }

.carousel-slide .no-content, .carousel-slide .no-image { text-align: center; }

.carousel-slide.is-active { display: block; position: relative; }

.carousel-cover { max-width: 50%; height: auto; float: right; }

.carousel-slide .image-and-content { overflow: hidden; }

.carousel-slide .no-content .carousel-cover { float: none; max-width: 100%; }

.carousel-slide .no-image .carousel-content { float: none; max-width: 100%; }

.carousel-content { max-width: 48%; float: left; text-align: left; -webkit-transition-property: margin; -moz-transition-property: margin; -o-transition-property: margin; transition-property: margin; -webkit-transition-duration: 200ms; -moz-transition-duration: 200ms; -o-transition-duration: 200ms; transition-duration: 200ms; -webkit-transition-timing-function: ease-in; -moz-transition-timing-function: ease-in; -o-transition-timing-function: ease-in; transition-timing-function: ease-in; width: 100%; }

.carousel-nav { text-align: center; margin-top: 20px; overflow: hidden; padding: 0; }

.carousel-nav li { display: inline-block; margin: 0 3px; }

.carousel-nav a { display: inline-block; border: 2px solid #656363; width: 10px; height: 10px; font-size: 0; color: transparent; }

.carousel-nav li.is-active a { background: #939191; }

.carousel-nav-prev, .carousel-nav-next { position: absolute; top: 50%; border: none; width: 19px; height: 31px; }

.carousel-nav-prev a, .carousel-nav-next a { border: none; display: block; width: 100%; height: 100%; }

.carousel-nav-prev { left: 10px; }

.carousel-nav-prev a:before { content: "\f053"; display: inline-block; font-family: FontAwesome; font-style: normal; position: relative; font-weight: normal; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; font-size: 30px; color: #939191; }

.carousel-nav-prev a:hover:before { color: #323131; }

.carousel-nav-next { right: 10px; }

.carousel-nav-next a:before { content: "\f054"; display: inline-block; font-family: FontAwesome; font-style: normal; position: relative; font-weight: normal; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; font-size: 30px; color: #939191; }

.carousel-nav-next a:hover:before { color: #323131; }

.no-js .carousel .carousel-slide:first-child { margin-top: 0; border-top: none; }

.no-js .carousel .carousel-slide { position: static; }

.no-js .carousel .carousel-nav li { display: none; }

.lt-ie8 .carousel-nav li { display: inline; zoom: 1; }

.lt-ie8 .carousel-nav li.is-active a { background: #939191; }

.lt-ie8 .carousel-nav .carousel-nav-prev, .lt-ie8 .carousel-nav .carousel-nav-next { width: 19px; height: 31px; }

.lt-ie8 .carousel-nav .carousel-nav-prev a, .lt-ie8 .carousel-nav .carousel-nav-next a { border: none; display: block; width: 100%; height: 100%; }

.lt-ie8 .carousel-nav a { display: block; zoom: 1; border: 2px solid #656363; width: 10px; height: 10px; }

@media only screen and (max-width: 767px) { .carousel-cover { max-width: 100%; float: none; margin: auto; display: block; }
  .carousel-content { max-width: 100%; float: none; }
  .carousel-nav li { display: none; }
  .carousel-nav .carousel-nav-prev, .carousel-nav .carousel-nav-next { display: block; } }
