@charset "UTF-8";
/* COLOR NAMES
----------------------------------------- */
/*theme colors*/
/*hard-coded colors*/
/* FUNCTIONAL COLORS
----------------------------------------- */
/*border colors*/
/*text colors*/
/*background colors*/
/*gradient colors*/
/* COLOR NAMES
----------------------------------------- */
/*theme colors*/
/*hard-coded colors*/
/* FUNCTIONAL COLORS
----------------------------------------- */
/*border colors*/
/*text colors*/
/*background colors*/
/*gradient colors*/
.parametrizedhtml { margin: 0; }

.snippetReference.unity-tool { background: #fff; }

.snippetReference.unity-tool .unity-tool-list .image_1, .snippetReference.unity-tool .unity-tool-list .image_2, .snippetReference.unity-tool .unity-tool-list .image_3 { position: absolute; background-repeat: no-repeat; background-position: top right; background-size: 100%; font-size: 0; width: 150px; height: 150px; right: 0; }

.snippetReference.unity-tool .unity-tool-list .image_1 { background-image: url(../../assets/img/unity-form-1.png); top: 60px; right: 140px; }

.snippetReference.unity-tool .unity-tool-list .image_2 { background-image: url(../../assets/img/unity-form-2.png); top: 180px; right: 40px; }

.snippetReference.unity-tool .unity-tool-list .image_3 { background-image: url(../../assets/img/unity-form-3.png); background-position: right bottom; bottom: -18px; right: 0; width: 250px; height: 250px; }

.snippetReference.unity-tool .box-header p { font-size: 2rem; color: #855297; font-weight: bolder; }

.snippetReference.unity-tool .box-header h4 { font-size: 2rem; color: #41395e; font-weight: bolder; }

.snippetReference.unity-tool .parametrizedhtml { border: 20px solid #eb67a2; position: relative; }

.snippetReference.unity-tool .parametrizedhtml .unity-tool-list input[type="checkbox"] { display: none; }

.snippetReference.unity-tool .parametrizedhtml .unity-tool-list input[type="checkbox"] + label span { display: inline-block; width: 19px; height: 19px; border: 1px solid #1b6bb5; margin: -2px 10px 0 0; vertical-align: middle; background: #fff; cursor: pointer; }

.snippetReference.unity-tool .parametrizedhtml .unity-tool-list input[type="checkbox"]:checked + label span { background-image: url(../../assets/img/check_icon.svg); background-size: 90%; background-position: 1px 0; background-repeat: no-repeat; }

.snippetReference.unity-tool .parametrizedhtml .unity-tool-list .unity-tool-list-header { background: #c30f77; padding: 20px 0; margin: 0; text-align: center; color: #fff; font-weight: bold; font-size: 1.5rem; }

.snippetReference.unity-tool .parametrizedhtml .unity-tool-list ul { margin: 0; padding: 20px; }

.snippetReference.unity-tool .parametrizedhtml .unity-tool-list ul li { list-style: none; margin: 0; padding: 10px 20px; font-weight: bold; font-size: 1.5rem; color: #1b6bb5; position: relative; }

.snippetReference.unity-tool .parametrizedhtml .unity-tool-list ul li input { margin-right: 15px; }

.snippetReference.unity-tool .box-footer { padding: 20px 40px; }

.snippetReference.unity-tool .box-footer h3 { font-weight: bold; font-size: 1.5rem; color: #fff; background: #48bed0; padding: 10px 20px; text-align: center; border-radius: 15px; box-shadow: 0 0 13px rgba(0, 0, 0, 0.7); cursor: pointer; }

.snippetReference.unity-tool .box-footer h3:before { display: none; }

.snippetReference.unity-tool .box-footer img { padding-right: 20px; }

.snippetReference.unity-tool .box-footer p { font-weight: bold; font-size: 1.5rem; color: #312850; margin: 0; padding: 0 0 15px 0; }

.country-selector { float: right; margin-bottom: 10px; display: none; }

.country-selector img, .country-selector span { display: inline-block; height: 100%; vertical-align: middle; }

.country-selector span { font-size: 14px; font-weight: bold; padding: 0 5px; }

.country-selector input { display: none; }

.country-selector input ~ ul { display: none; }

.country-selector input:checked ~ ul { display: block; position: absolute; background: #fff; }

.country-selector input:checked ~ label:after { content: "\f106"; display: inline-block; font-family: FontAwesome; font-style: normal; position: relative; font-weight: normal; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

.country-selector label { display: block; border: 1px solid #021549; border-radius: 25px; position: relative; z-index: 2; padding: 0 5px; }

.country-selector label:after { content: "\f107"; display: inline-block; font-family: FontAwesome; font-style: normal; position: relative; font-weight: normal; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; top: 2px; }

.country-selector label:hover { cursor: pointer; }

.country-selector ul { padding: 0 5px; margin: 0; }

.country-selector ul li { display: block; }

.country-selector ul li:hover { cursor: pointer; }

@media only screen and (max-width: 767px) { .country-selector { position: absolute; margin-bottom: 0; right: 80px; z-index: 10; }
  .country-selector span { display: none; }
  .country-selector label:after { padding-left: 5px; }
  .country-selector input:checked ~ label:after { top: 0; } }

.page-diagnosis .secondary-bg { background: #eee; }

.page-diagnosis .secondary-bg h2 { color: #021549; margin: 0; padding: 0 20px 0 60px; }

.page-diagnosis .secondary-bg h2 span { background: #1e6575; color: #fff; font-weight: normal; width: 40px; height: 40px; display: inline-block; line-height: 40px; text-align: center; border-radius: 50%; margin-right: 10px; float: left; margin-left: -50px; }

.page-diagnosis .secondary-bg.charts-start { position: relative; padding: 0 10px; overflow: hidden; }

.page-diagnosis .secondary-bg.charts-start h2 { padding: 0 10px 0 60px; }

@media only screen and (max-width: 767px) { .page-diagnosis .secondary-bg.charts-start h2 { font-size: 1.2em; font-weight: normal; } }

.page-diagnosis .secondary-bg.charts-start figure { position: relative; text-align: center; width: 100%; line-height: 0; border-radius: 5px; overflow: hidden; margin: 0 auto; }

.page-diagnosis .secondary-bg.charts-start figure img { filter: grayscale(100%); }

@media only screen and (max-width: 767px) { .page-diagnosis .secondary-bg.charts-start figure img { left: 0; position: absolute; width: initial; max-height: 80px; z-index: 9; top: 0%; border-radius: 0 50% 50% 0; } }

.page-diagnosis .secondary-bg.charts-start figure figcaption { overflow: hidden; position: absolute; background: #1e6575; color: #fff; font-weight: bold; border-radius: 50%; vertical-align: middle; width: 180px; height: 180px; padding: 0 20px; line-height: 180px; top: 50%; left: 50%; margin-left: -90px; margin-top: -90px; transition: 0.3s; }

.page-diagnosis .secondary-bg.charts-start figure figcaption p { display: inline-block; vertical-align: middle; line-height: normal; color: #fff; }

@media only screen and (max-width: 767px) { .page-diagnosis .secondary-bg.charts-start figure figcaption { position: relative; width: 100%; height: 80px; margin: 0; padding: 10px 10px 10px 35%; line-height: 1.2em; top: 0; left: 0; border-radius: 0; text-align: left; }
  .page-diagnosis .secondary-bg.charts-start figure figcaption p { text-align: left !important; font-weight: normal; padding-right: 20px; }
  .page-diagnosis .secondary-bg.charts-start figure figcaption p:after { position: absolute !important; right: 10px; top: 20px; font-size: 3em; content: ""; display: inline-block; font-family: FontAwesome; font-style: normal; position: relative; font-weight: normal; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; } }

.page-diagnosis .secondary-bg.charts-start .box { position: relative; overflow: hidden; text-align: center; padding: 20px; cursor: pointer; margin: 0; display: inline-block; width: 33.333%; }

@media only screen and (max-width: 767px) { .page-diagnosis .secondary-bg.charts-start .box { width: 100%; padding: 0; margin: 10px 0; min-height: 80px; overflow: visible; position: inherit; } }

.page-diagnosis .secondary-bg.charts-start .box .content { margin: 0; padding: 0; }

.page-diagnosis .secondary-bg.charts-start .box .richText { text-align: center; color: #fff; position: absolute; background: #1e6575; padding: 10px; top: 100%; left: 20px; bottom: 20px; right: 20px; border-radius: 5px; transition: 1s; overflow: 0; }

.page-diagnosis .secondary-bg.charts-start .box .richText:after { content: ''; width: 0; height: 0; border: 20px solid transparent; border-top-color: #1e6575; position: absolute; bottom: -40px; left: 50%; margin-left: -20px; }

.page-diagnosis .secondary-bg.charts-start .box .richText::before { content: 'x'; position: absolute; top: 5px; right: 10px; color: #fff; font-weight: bold; }

.page-diagnosis .secondary-bg.charts-start .box .richText p { line-height: 16px; font-size: 0.8em; color: #fff; opacity: 0; }

@media only screen and (min-width: 768px) and (max-width: 989px) { .page-diagnosis .secondary-bg.charts-start .box .richText p { padding: 2px 0; margin: 0; line-height: 1.1em; font-size: 0.75em; } }

.page-diagnosis .secondary-bg.charts-start .box .richText h3 { opacity: 0; position: relative; background: #fff; border-radius: 50%; font-size: 2em; line-height: 1.4em; width: 185px; height: 185px; text-transform: uppercase; margin: 0 auto; }

@media only screen and (min-width: 768px) and (max-width: 989px) { .page-diagnosis .secondary-bg.charts-start .box .richText h3 { width: 135px; height: 135px; } }

.page-diagnosis .secondary-bg.charts-start .box .richText h3:before { display: none; }

.page-diagnosis .secondary-bg.charts-start .box .richText h3 span { font-size: 2.5em; line-height: 160px; display: inline-block; padding-top: 0; }

@media only screen and (min-width: 768px) and (max-width: 989px) { .page-diagnosis .secondary-bg.charts-start .box .richText h3 span { font-size: 2.5em; padding-top: 10px; } }

@keyframes anim { from { transform: scale(0.5);
    -moz-transform: scale(0.5);
    opacity: 0; }
  to { transform: scale(1);
    -moz-transform: scale(1);
    opacity: 1; } }

@-webkit-keyframes anim { from { transform: scale(0.5);
    -moz-transform: scale(0.5);
    opacity: 0; }
  to { transform: scale(1);
    -moz-transform: scale(1);
    opacity: 1; } }

.page-diagnosis .secondary-bg.charts-start .box.active .richText { top: 20px; left: 20px; transition: 1s; }

.page-diagnosis .secondary-bg.charts-start .box.active .richText h3, .page-diagnosis .secondary-bg.charts-start .box.active .richText p { animation: anim 3s; -ms-animation-name: anim 3s; -ms-animation: anim 3s; -webkit-animation: anim 3s; animation-fill-mode: forwards; }

@media only screen and (max-width: 767px) { .page-diagnosis .secondary-bg.charts-start .box.active .richText { top: 0; left: 0; right: 0; z-index: 99; padding-top: 60px; } }

@media only screen and (min-width: 990px) { .page-diagnosis .secondary-bg.charts-start .box :hover figure { box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); }
  .page-diagnosis .secondary-bg.charts-start .box :hover figure img { filter: grayscale(0%); }
  .page-diagnosis .secondary-bg.charts-start .box :hover figcaption { width: 200px; height: 200px; line-height: 200px; padding: 0 30px; transition: 0.1s; margin-top: -100px; margin-left: -100px; } }

.page-diagnosis .chart-content { display: none; }

.page-diagnosis .chart-content ul { list-style: none; margin: 0; padding: 0; }

.page-diagnosis .chart-content ul li { list-style: none; color: #021549; font-size: 1.4em; margin: 0; font-weight: bold; display: none; padding: 0 20px 0 60px; }

@media only screen and (max-width: 767px) { .page-diagnosis .chart-content ul li { font-weight: normal; font-size: 1.2em; } }

.page-diagnosis .chart-content ul li span { background: #1e6575; color: #fff; font-weight: normal; width: 40px; height: 40px; display: inline-block; line-height: 40px; text-align: center; border-radius: 50%; margin-right: 10px; float: left; margin-left: -50px; }

.diagnosis { margin-top: 0; display: -webkit-flex; /* Safari */ display: flex; flex-direction: column; }

.diagnosis > .diagnosis__filters.top { display: none; padding-top: 10px; }

.diagnosis > .diagnosis__filters.top .select ul { top: auto; bottom: 40px; }

.diagnosis * { box-sizing: border-box; }

.diagnosis .row { display: flex; padding: 0; }

@media only screen and (max-width: 767px) { .diagnosis .row.box-charts { display: block; margin: 0; } }

@media only screen and (max-width: 767px) and (max-width: 767px) { .diagnosis .row.box-charts .col-md-6 { width: 100%; margin-left: 0; } }

.diagnosis .inside.sexual .row { flex-wrap: wrap; }

.diagnosis .col-md-3 { width: 25%; margin: 0 10px; }

.diagnosis .col-md-3.chart-box { margin: 0; }

.diagnosis .col-md-4 { width: 33.333%; margin: 0 10px; }

.diagnosis .col-md-4.chart-box { margin: 0; }

.diagnosis .col-md-6 { width: 50%; margin: 0 10px; }

.diagnosis .diagnosis__charts { padding: 20px 10px 0 10px; width: 100%; }

.diagnosis .diagnosis__filters { padding: 0 10px; width: 100%; }

.diagnosis h2 { color: #021549; font-size: 20px; }

.diagnosis h2 span { background: #1e6575; color: #fff; font-weight: normal; width: 40px; height: 40px; display: inline-block; line-height: 40px; text-align: center; border-radius: 50%; margin-right: 10px; }

@media only screen and (max-device-width: 320px) { .diagnosis { -webkit-flex-direction: column-reverse; /* Safari 6.1+ */ flex-direction: column-reverse; } }

/*##### CHARTS ######*/
.diagnosis__charts .chart-box { text-align: center; }

.diagnosis__charts .chart-box label { text-align: center; display: block; font-weight: bold; padding: 10px 0; line-height: 60px; color: #00144b; }

.diagnosis__charts .chart-box label:before { content: ''; width: 40px; height: 50px; background-image: url(../../assets/img/icon_diagnosis.png); position: relative; display: inline-block; vertical-align: middle; }

@media only screen and (max-width: 767px) { .diagnosis__charts .chart-box label:before { display: block; text-align: center; margin: 0 auto; } }

@media only screen and (min-width: 768px) and (max-width: 989px) { .diagnosis__charts .chart-box label:before { display: block; text-align: center; margin: 0 auto; } }

.diagnosis__charts .chart { position: relative; }

.diagnosis__charts .chart input[type=checkbox] { position: absolute; top: 10px; left: 50%; margin-left: -60px; background: #fff; }

.diagnosis__charts .inside { background: #fff; margin-bottom: 20px; border: 1px solid #e9e6e6; border-radius: 5px; overflow: hidden; min-height: 280px; display: block; }

.diagnosis__charts .inside.region label:before { background: transparent; display: none; }

.diagnosis__charts .inside.region .chart-value:before { content: ''; width: 90px; height: 90px; position: absolute; border-radius: 50%; background: white; z-index: -1; top: -16px; margin-left: 0; }

.diagnosis__charts .inside.region canvas { position: relative; z-index: 9999; }

.diagnosis__charts .inside.sexual .row { padding: 35px 15px; }

.diagnosis__charts .inside.sexual .row label { background: transparent; }

.diagnosis__charts .inside.sexual .chart-box { display: block; width: 100%; padding: 0; text-align: left; }

.diagnosis__charts .inside.sexual .chart-box .chart-box__label { display: inline-block; vertical-align: middle; line-height: 1.2em; width: 35%; text-align: left; }

.diagnosis__charts .inside.sexual .chart-box .chart-box__label:before { display: none; }

.diagnosis__charts .inside.sexual .chart-box .chart-bar { display: inline-block; position: relative; vertical-align: middle; background-color: #e9e9e9; width: 50%; height: 11px; top: initial; margin: 0; overflow: hidden; border-radius: 11px; }

.diagnosis__charts .inside.sexual .chart-box .chart-bar span { width: 20%; background-color: green; display: inline-block; height: 11px; border-radius: 11px; margin: 0; top: 0; transition: 0.5s; }

.diagnosis__charts .inside.sexual .chart-box .chart-bar.chart_color_1 span { background-color: #e2001d; }

.diagnosis__charts .inside.sexual .chart-box .chart-bar.chart_color_2 span { background-color: #1e6575; }

.diagnosis__charts .inside.sexual .chart-box .chart-bar.chart_color_3 span { background-color: #535353; }

.diagnosis__charts .inside.sexual .chart-box .chart-bar.chart_color_4 span { background-color: #898989; }

.diagnosis__charts .inside.sexual .chart-box .percent { display: inline-block; vertical-align: middle; width: 0%; padding: 0; margin: 0; font-size: 1.4em; font-weight: bold; color: #323131; }

.diagnosis__charts h3 { text-align: left; background: #1e6575; color: #fff; font-weight: normal; font-size: 16px; padding: 9px 10px; cursor: pointer; position: relative; }

.diagnosis__charts .chart_head { position: relative; }

.diagnosis__charts .chart_head ul { position: absolute; top: 42px; width: 100%; background: #fff; z-index: 99; padding: 10px 20px; margin: 0; list-style: none; box-shadow: 1px 4px 5px 0 rgba(0, 0, 0, 0.2); }

.diagnosis__charts .chart_head ul input { margin-right: 10px; }

.diagnosis__charts .chart_head ul label { padding-left: 0; }

.diagnosis__charts .chart-value { display: block; position: absolute; font-weight: bold; font-size: 1.4em; height: 40px; top: 48%; left: 0; right: 0; margin: -20px auto 0 auto; width: 90px; line-height: 40px; z-index: 99; }

.diagnosis__charts .age .chart_head ul { top: 0; position: relative; }

.diagnosis__charts .sexual .chart-box label { text-align: center; display: block; font-weight: bold; padding: 0; color: #00144b; }

.diagnosis__charts .chart-box .label { margin: 0 auto; background-repeat: no-repeat; width: 80px; height: 100px; background-image: url(../../assets/img/icon_diagnosis.png); }

.diagnosis__charts .icon_region { margin-top: 0; width: 100%; height: 200px; background-image: url(../../assets/img/icon_diagnosis.png); background-repeat: no-repeat; background-position: 0px -196px; }

.diagnosis__charts.chart-title-center { display: block; position: relative; text-align: center; }

.icon_region.region_1 { background-position: 0px -396px; }

.icon_region.region_2 { background-position: 0px -597px; }

.icon_region.region_1.region_2 { background-position: 0px -797px; }

.chart-box.age_1 label:before { background-position: -40px -95px; }

.chart-box.age_2 label:before { background-position: 0 -95px; }

.chart-box.age_3 label:before { background-position: -995px -95px; }

.chart-box.age_1 label.active:before { background-position: -40px -145px; }

.chart-box.age_2 label.active:before { background-position: 0 -145px; }

.chart-box.age_3 label.active:before { background-position: -995px -145px; }

.chart-box.gender_1 label:before { background-position: 0 12px; }

.chart-box.gender_2 label:before { background-position: -40px 12px; }

.chart-box.gender_3 label:before { background-position: -88px 12px; }

.chart-box.gender_1 label.active:before { background-position: 0 -40px; }

.chart-box.gender_2 label.active:before { background-position: -40px -40px; }

.chart-box.gender_3 label.active:before { background-position: -88px -40px; }

@media only screen and (max-width: 767px) { .diagnosis__charts .icon_region { background-size: 140%; }
  .diagnosis__charts .icon_region.region_1 { background-position: 46% 101%; }
  .diagnosis__charts .icon_region.region_2 { background-position: 46% 101%; }
  .diagnosis__charts .icon_region.region_1.region_2 { background-position: 46% 101%; } }

@media only screen and (min-width: 768px) and (max-width: 989px) { .diagnosis__charts .icon_region { background-size: 100%; }
  .diagnosis__charts .icon_region.region_1 { background-position: 46% 101%; }
  .diagnosis__charts .icon_region.region_2 { background-position: 46% 101%; }
  .diagnosis__charts .icon_region.region_1.region_2 { background-position: 46% 101%; } }

.label-region, .label-age, .label-gender, .label-sexual { cursor: pointer; }

@media only screen and (max-device-width: 320px) { .container { margin: 0; padding: 0; }
  .diagnosis__charts .chart-box { width: 50%; text-align: center; }
  .diagnosis__charts .chart { position: relative; }
  .icon_region { background-size: 100%; } }

@media only screen and (max-device-width: 480px) { .container { margin: 0; padding: 0; }
  .diagnosis__charts .chart-box { width: 50%; text-align: center; }
  .diagnosis__charts .chart { position: relative; }
  .diagnosis__charts .chart canvas { width: 80px !important; height: 80px !important; }
  .icon_region { background-size: 100%; } }

@media only screen and (max-device-width: 768px) { .container { margin: 0; padding: 0; }
  .diagnosis__charts .chart-box { width: 33%; text-align: center; }
  .diagnosis__charts .chart { position: relative; }
  .icon_region { background-size: 100%; } }

/*###### FILTERS ####*/
.diagnosis__filters .select { position: relative; }

.diagnosis__filters .select > .label { background: #fff; color: #999; font-size: 14px; border: 1px solid #eee; padding: 10px; border-radius: 4px; font-weight: bold; margin: 0; position: relative; }

.diagnosis__filters .select > .label span { color: red; float: right; }

.diagnosis__filters .select > .label:hover { color: red; }

.diagnosis__filters .select ul { list-style: none; margin: 0; background: #fff; border: 1px solid #eee; padding: 10px; position: absolute; top: 40px; left: 0; right: 0; }

.diagnosis__filters .select ul li input, .diagnosis__filters .select ul li label { display: inline-block; vertical-align: top; }

.diagnosis__filters .select ul li input { padding: 0; margin: 7px 10px 0 0; background: #fff; }

.diagnosis__filters .select ul li label { padding: 0; margin: 0; }

.diagnosis__filters .applied_filters { padding: 10px 10px 0 10px; display: block; }

.diagnosis__filters .applied_filters h2 { color: #8d8d8d !important; font-size: 16px !important; padding: 0 0 10px 0 !important; }

.diagnosis__filters .applied_filters > span { display: inline-block; background: #b5c2c6; color: #fff; text-transform: uppercase; padding: 0 10px; border-radius: 5px; margin: 0 10px 10px 0; }

.diagnosis__filters .applied_filters > span span { display: inline-block; margin: 0 0 0 10px; cursor: pointer; }

.diagnosis__filters .applied_filters > span span:hover { color: red; }

.diagnosis__filters .applied_filters .applied_filters_clear { display: inline-block; background: #626262; color: #fff; text-transform: uppercase; padding: 0 10px; border-radius: 5px; margin: 0 10px 10px 0; cursor: pointer; }

.diagnosis__filters .applied_filters .applied_filters_clear:hover { background-color: red; }

@media only screen and (max-device-width: 320px) { .diagnosis__filters .select ul { position: relative; top: initial; left: initial; right: initial; } }

.page-disclosure .secondary-bg { background: #eee; }

.page-disclosure .secondary-bg h2 { color: #021549; margin: 0; padding: 0 20px 0 60px; }

.page-disclosure .secondary-bg h2 span { background: #02c1c1; color: #fff; font-weight: normal; width: 40px; height: 40px; display: inline-block; line-height: 40px; text-align: center; border-radius: 50%; margin-right: 10px; float: left; margin-left: -50px; }

.page-disclosure .secondary-bg.charts-start { position: relative; padding: 0 10px; overflow: hidden; }

.page-disclosure .secondary-bg.charts-start h2 { padding: 0 10px 0 60px; }

@media only screen and (max-width: 767px) { .page-disclosure .secondary-bg.charts-start h2 { font-size: 1.2em; font-weight: normal; } }

.page-disclosure .secondary-bg.charts-start figure { position: relative; text-align: center; width: 100%; line-height: 0; border-radius: 5px; overflow: hidden; margin: 0 auto; }

.page-disclosure .secondary-bg.charts-start figure img { filter: grayscale(100%); }

@media only screen and (max-width: 767px) { .page-disclosure .secondary-bg.charts-start figure img { left: 0; position: absolute; width: initial; max-height: 80px; z-index: 9; top: 0%; border-radius: 0 50% 50% 0; } }

.page-disclosure .secondary-bg.charts-start figure figcaption { overflow: hidden; position: absolute; background: #02c1c1; color: #fff; font-weight: bold; border-radius: 50%; vertical-align: middle; width: 180px; height: 180px; padding: 0 20px; line-height: 180px; top: 50%; left: 50%; margin-left: -90px; margin-top: -90px; transition: 0.3s; }

.page-disclosure .secondary-bg.charts-start figure figcaption p { display: inline-block; vertical-align: middle; line-height: normal; color: #fff; }

@media only screen and (max-width: 767px) { .page-disclosure .secondary-bg.charts-start figure figcaption { position: relative; width: 100%; height: 80px; margin: 0; padding: 10px 10px 10px 35%; line-height: 1.2em; top: 0; left: 0; border-radius: 0; text-align: left; }
  .page-disclosure .secondary-bg.charts-start figure figcaption p { text-align: left !important; font-weight: normal; padding-right: 20px; }
  .page-disclosure .secondary-bg.charts-start figure figcaption p:after { position: absolute !important; right: 10px; top: 20px; font-size: 3em; content: ""; display: inline-block; font-family: FontAwesome; font-style: normal; position: relative; font-weight: normal; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; } }

.page-disclosure .secondary-bg.charts-start .box { position: relative; overflow: hidden; text-align: center; padding: 20px; cursor: pointer; margin: 0; display: inline-block; width: 33.333%; }

@media only screen and (max-width: 767px) { .page-disclosure .secondary-bg.charts-start .box { width: 100%; padding: 0; margin: 10px 0; min-height: 80px; overflow: visible; position: inherit; } }

.page-disclosure .secondary-bg.charts-start .box .content { margin: 0; padding: 0; }

.page-disclosure .secondary-bg.charts-start .box .richText { text-align: center; color: #fff; position: absolute; background: #02c1c1; padding: 10px; top: 100%; left: 20px; bottom: 20px; right: 20px; border-radius: 5px; transition: 1s; overflow: 0; }

.page-disclosure .secondary-bg.charts-start .box .richText:after { content: ''; width: 0; height: 0; border: 20px solid transparent; border-top-color: #02c1c1; position: absolute; bottom: -40px; left: 50%; margin-left: -20px; }

.page-disclosure .secondary-bg.charts-start .box .richText::before { content: 'x'; position: absolute; top: 5px; right: 10px; color: #fff; font-weight: bold; }

.page-disclosure .secondary-bg.charts-start .box .richText p { line-height: 16px; font-size: 0.8em; color: #fff; opacity: 0; }

@media only screen and (min-width: 768px) and (max-width: 989px) { .page-disclosure .secondary-bg.charts-start .box .richText p { padding: 2px 0; margin: 0; line-height: 1.1em; font-size: 0.75em; } }

.page-disclosure .secondary-bg.charts-start .box .richText h3 { opacity: 0; position: relative; background: #fff; border-radius: 50%; font-size: 2em; line-height: 1.4em; width: 185px; height: 185px; text-transform: uppercase; margin: 0 auto; color: #02c1c1; }

@media only screen and (min-width: 768px) and (max-width: 989px) { .page-disclosure .secondary-bg.charts-start .box .richText h3 { width: 135px; height: 135px; } }

.page-disclosure .secondary-bg.charts-start .box .richText h3:before { display: none; }

.page-disclosure .secondary-bg.charts-start .box .richText h3 span { font-size: 2.5em; line-height: 160px; display: inline-block; padding-top: 0; }

@media only screen and (min-width: 768px) and (max-width: 989px) { .page-disclosure .secondary-bg.charts-start .box .richText h3 span { font-size: 2.5em; padding-top: 10px; } }

@keyframes anim { from { transform: scale(0.5);
    -moz-transform: scale(0.5);
    opacity: 0; }
  to { transform: scale(1);
    -moz-transform: scale(1);
    opacity: 1; } }

@-webkit-keyframes anim { from { transform: scale(0.5);
    -moz-transform: scale(0.5);
    opacity: 0; }
  to { transform: scale(1);
    -moz-transform: scale(1);
    opacity: 1; } }

.page-disclosure .secondary-bg.charts-start .box.active .richText { top: 20px; left: 20px; transition: 1s; }

.page-disclosure .secondary-bg.charts-start .box.active .richText h3, .page-disclosure .secondary-bg.charts-start .box.active .richText p { animation: anim 3s; -webkit-animation: anim 3s; animation-fill-mode: forwards; }

@media only screen and (max-width: 767px) { .page-disclosure .secondary-bg.charts-start .box.active .richText { top: 0; left: 0; right: 0; z-index: 99; padding-top: 60px; } }

@media only screen and (min-width: 990px) { .page-disclosure .secondary-bg.charts-start .box :hover figure { box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); }
  .page-disclosure .secondary-bg.charts-start .box :hover figure img { filter: grayscale(0%); }
  .page-disclosure .secondary-bg.charts-start .box :hover figcaption { width: 200px; height: 200px; line-height: 200px; padding: 0 30px; transition: 0.1s; margin-top: -100px; margin-left: -100px; } }

.page-disclosure .chart-content { display: none; }

.page-disclosure .chart-content ul { list-style: none; margin: 0; padding: 0; }

.page-disclosure .chart-content ul li { list-style: none; color: #021549; font-size: 1.4em; margin: 0; font-weight: bold; display: none; padding: 0 20px 0 60px; }

@media only screen and (max-width: 767px) { .page-disclosure .chart-content ul li { font-weight: normal; font-size: 1.2em; } }

.page-disclosure .chart-content ul li span { background: #02c1c1; color: #fff; font-weight: normal; width: 40px; height: 40px; display: inline-block; line-height: 40px; text-align: center; border-radius: 50%; margin-right: 10px; float: left; margin-left: -50px; }

.disclosure { margin-top: 0; display: -webkit-flex; /* Safari */ display: flex; flex-direction: column; }

.disclosure > .disclosure__filters.top { display: none; padding-top: 10px; }

.disclosure > .disclosure__filters.top .select ul { top: auto; bottom: 40px; }

.disclosure * { box-sizing: border-box; }

.disclosure .row { display: flex; padding: 0; }

@media only screen and (max-width: 767px) { .disclosure .row.box-charts { display: block; margin: 0; } }

@media only screen and (max-width: 767px) and (max-width: 767px) { .disclosure .row.box-charts .col-md-6 { width: 100%; margin-left: 0; } }

.disclosure .inside.sexual .row { flex-wrap: wrap; }

.disclosure .col-md-3 { width: 25%; margin: 0 10px; }

.disclosure .col-md-3.chart-box { margin: 0; }

.disclosure .col-md-4 { width: 33.333%; margin: 0 10px; }

.disclosure .col-md-4.chart-box { margin: 0; }

.disclosure .col-md-6 { width: 50%; margin: 0 10px; }

.disclosure .disclosure__charts { padding: 20px 10px 0 10px; width: 100%; }

.disclosure .disclosure__filters { padding: 0 10px; width: 100%; }

.disclosure h2 { color: #021549; font-size: 20px; }

.disclosure h2 span { background: #02c1c1; color: #fff; font-weight: normal; width: 40px; height: 40px; display: inline-block; line-height: 40px; text-align: center; border-radius: 50%; margin-right: 10px; }

@media only screen and (max-device-width: 320px) { .disclosure { -webkit-flex-direction: column-reverse; /* Safari 6.1+ */ flex-direction: column-reverse; } }

/*##### CHARTS ######*/
.disclosure__charts .chart-box { text-align: center; }

.disclosure__charts .chart-box label { text-align: center; display: block; font-weight: bold; padding: 10px 0; line-height: 60px; color: #00144b; }

.disclosure__charts .chart-box label:before { content: ''; width: 40px; height: 50px; background-image: url(../../assets/img/icon_disclosure.png); position: relative; display: inline-block; vertical-align: middle; }

@media only screen and (max-width: 767px) { .disclosure__charts .chart-box label:before { display: block; text-align: center; margin: 0 auto; } }

@media only screen and (min-width: 768px) and (max-width: 989px) { .disclosure__charts .chart-box label:before { display: block; text-align: center; margin: 0 auto; } }

.disclosure__charts .chart { position: relative; }

.disclosure__charts .chart input[type=checkbox] { position: absolute; top: 10px; left: 50%; margin-left: -60px; background: #fff; }

.disclosure__charts .inside { background: #fff; margin-bottom: 20px; border: 1px solid #e9e6e6; border-radius: 5px; overflow: hidden; min-height: 280px; display: block; }

.disclosure__charts .inside.region label:before { background: transparent; display: none; }

.disclosure__charts .inside.region .chart-value:before { content: ''; width: 90px; height: 90px; position: absolute; border-radius: 50%; background: white; z-index: -1; top: -16px; margin-left: 0; }

.disclosure__charts .inside.region canvas { position: relative; z-index: 9999; }

.disclosure__charts .inside.sexual .row { padding: 35px 15px; }

.disclosure__charts .inside.sexual .row label { background: transparent; }

.disclosure__charts .inside.sexual .chart-box { display: block; width: 100%; padding: 0; text-align: left; }

.disclosure__charts .inside.sexual .chart-box .chart-box__label { display: inline-block; vertical-align: middle; line-height: 1.2em; width: 35%; text-align: left; }

.disclosure__charts .inside.sexual .chart-box .chart-box__label:before { display: none; }

.disclosure__charts .inside.sexual .chart-box .chart-bar { display: inline-block; position: relative; vertical-align: middle; background-color: #e9e9e9; width: 50%; height: 11px; top: initial; margin: 0; overflow: hidden; border-radius: 11px; }

.disclosure__charts .inside.sexual .chart-box .chart-bar span { width: 20%; background-color: green; display: inline-block; height: 11px; border-radius: 11px; margin: 0; top: 0; transition: 0.5s; }

.disclosure__charts .inside.sexual .chart-box .chart-bar.chart_color_1 span { background-color: #e2001d; }

.disclosure__charts .inside.sexual .chart-box .chart-bar.chart_color_2 span { background-color: #02c1c1; }

.disclosure__charts .inside.sexual .chart-box .chart-bar.chart_color_3 span { background-color: #535353; }

.disclosure__charts .inside.sexual .chart-box .chart-bar.chart_color_4 span { background-color: #898989; }

.disclosure__charts .inside.sexual .chart-box .percent { display: inline-block; vertical-align: middle; width: 0%; padding: 0; margin: 0; font-size: 1.4em; font-weight: bold; color: #323131; }

.disclosure__charts h3 { text-align: left; background: #02c1c1; color: #fff; font-weight: normal; font-size: 16px; padding: 9px 10px; cursor: pointer; position: relative; }

.disclosure__charts .chart_head { position: relative; }

.disclosure__charts .chart_head ul { position: absolute; top: 42px; width: 100%; background: #fff; z-index: 99; padding: 10px 20px; margin: 0; list-style: none; box-shadow: 1px 4px 5px 0 rgba(0, 0, 0, 0.2); }

.disclosure__charts .chart_head ul input { margin-right: 10px; }

.disclosure__charts .chart_head ul label { padding-left: 0; }

.disclosure__charts .chart-value { display: block; position: absolute; font-weight: bold; font-size: 1.4em; height: 40px; top: 48%; left: 0; right: 0; margin: -20px auto 0 auto; width: 90px; line-height: 40px; z-index: 99; }

.disclosure__charts .age .chart_head ul { top: 0; position: relative; }

.disclosure__charts .sexual .chart-box label { text-align: center; display: block; font-weight: bold; padding: 0; color: #00144b; }

.disclosure__charts .chart-box .label { margin: 0 auto; background-repeat: no-repeat; width: 80px; height: 100px; background-image: url(../../assets/img/icon_disclosure.png); }

.disclosure__charts .icon_region { margin-top: 0; width: 100%; height: 200px; background-image: url(../../assets/img/icon_disclosure.png); background-repeat: no-repeat; background-position: 0px -196px; }

.disclosure__charts.chart-title-center { display: block; position: relative; text-align: center; }

.icon_region.region_1 { background-position: 0px -396px; }

.icon_region.region_2 { background-position: 0px -597px; }

.icon_region.region_1.region_2 { background-position: 0px -797px; }

.chart-box.age_1 label:before { background-position: -40px -95px; }

.chart-box.age_2 label:before { background-position: 0 -95px; }

.chart-box.age_3 label:before { background-position: -995px -95px; }

.chart-box.age_1 label.active:before { background-position: -40px -145px; }

.chart-box.age_2 label.active:before { background-position: 0 -145px; }

.chart-box.age_3 label.active:before { background-position: -995px -145px; }

.chart-box.gender_1 label:before { background-position: 0 12px; }

.chart-box.gender_2 label:before { background-position: -40px 12px; }

.chart-box.gender_3 label:before { background-position: -88px 12px; }

.chart-box.gender_1 label.active:before { background-position: 0 -40px; }

.chart-box.gender_2 label.active:before { background-position: -40px -40px; }

.chart-box.gender_3 label.active:before { background-position: -88px -40px; }

@media only screen and (max-width: 767px) { .disclosure__charts .icon_region { background-size: 140%; }
  .disclosure__charts .icon_region.region_1 { background-position: 46% 101%; }
  .disclosure__charts .icon_region.region_2 { background-position: 46% 101%; }
  .disclosure__charts .icon_region.region_1.region_2 { background-position: 46% 101%; } }

@media only screen and (min-width: 768px) and (max-width: 989px) { .disclosure__charts .icon_region { background-size: 100%; }
  .disclosure__charts .icon_region.region_1 { background-position: 46% 101%; }
  .disclosure__charts .icon_region.region_2 { background-position: 46% 101%; }
  .disclosure__charts .icon_region.region_1.region_2 { background-position: 46% 101%; } }

.label-region, .label-age, .label-gender, .label-sexual { cursor: pointer; }

@media only screen and (max-device-width: 320px) { .container { margin: 0; padding: 0; }
  .disclosure__charts .chart-box { width: 50%; text-align: center; }
  .disclosure__charts .chart { position: relative; }
  .icon_region { background-size: 100%; } }

@media only screen and (max-device-width: 480px) { .container { margin: 0; padding: 0; }
  .disclosure__charts .chart-box { width: 50%; text-align: center; }
  .disclosure__charts .chart { position: relative; }
  .disclosure__charts .chart canvas { width: 80px !important; height: 80px !important; }
  .icon_region { background-size: 100%; } }

@media only screen and (max-device-width: 768px) { .container { margin: 0; padding: 0; }
  .disclosure__charts .chart-box { width: 33%; text-align: center; }
  .disclosure__charts .chart { position: relative; }
  .icon_region { background-size: 100%; } }

/*###### FILTERS ####*/
.disclosure__filters .select { position: relative; }

.disclosure__filters .select > .label { background: #fff; color: #999; font-size: 14px; border: 1px solid #eee; padding: 10px; border-radius: 4px; font-weight: bold; margin: 0; position: relative; }

.disclosure__filters .select > .label span { color: red; float: right; }

.disclosure__filters .select > .label:hover { color: red; }

.disclosure__filters .select ul { list-style: none; margin: 0; background: #fff; border: 1px solid #eee; padding: 10px; position: absolute; top: 40px; left: 0; right: 0; }

.disclosure__filters .select ul li input, .disclosure__filters .select ul li label { display: inline-block; vertical-align: top; }

.disclosure__filters .select ul li input { padding: 0; margin: 7px 10px 0 0; background: #fff; }

.disclosure__filters .select ul li label { padding: 0; margin: 0; }

.disclosure__filters .applied_filters { padding: 10px 10px 0 10px; display: block; }

.disclosure__filters .applied_filters h2 { color: #8d8d8d !important; font-size: 16px !important; padding: 0 0 10px 0 !important; }

.disclosure__filters .applied_filters > span { display: inline-block; background: #b5c2c6; color: #fff; text-transform: uppercase; padding: 0 10px; border-radius: 5px; margin: 0 10px 10px 0; }

.disclosure__filters .applied_filters > span span { display: inline-block; margin: 0 0 0 10px; cursor: pointer; }

.disclosure__filters .applied_filters > span span:hover { color: red; }

.disclosure__filters .applied_filters .applied_filters_clear { display: inline-block; background: #626262; color: #fff; text-transform: uppercase; padding: 0 10px; border-radius: 5px; margin: 0 10px 10px 0; cursor: pointer; }

.disclosure__filters .applied_filters .applied_filters_clear:hover { background-color: red; }

@media only screen and (max-device-width: 320px) { .disclosure__filters .select ul { position: relative; top: initial; left: initial; right: initial; } }

.html_component__video { text-align: center; width: 100%; }

.html_component__video iframe { width: 100%; min-height: 550px; }

@media only screen and (max-width: 767px) { .html_component__video iframe { min-height: 200px; } }
