/* COLOR NAMES
----------------------------------------- */
/*theme colors*/
/*hard-coded colors*/
/* FUNCTIONAL COLORS
----------------------------------------- */
/*border colors*/
/*text colors*/
/*background colors*/
/*gradient colors*/
.map-canvas { border: solid 2px #323131; margin-bottom: 10px; text-align: center; }

.map-canvas img { width: 100%; max-width: inherit; }

.no-js .map-canvas img { width: 100%; max-width: 640px; }
