/* COLOR NAMES
----------------------------------------- */
/*theme colors*/
/*hard-coded colors*/
/* FUNCTIONAL COLORS
----------------------------------------- */
/*border colors*/
/*text colors*/
/*background colors*/
/*gradient colors*/
/* COLOR NAMES
----------------------------------------- */
/*theme colors*/
/*hard-coded colors*/
/* FUNCTIONAL COLORS
----------------------------------------- */
/*border colors*/
/*text colors*/
/*background colors*/
/*gradient colors*/
.navigation-mobile-menu { display: none; }

.navigation { text-align: right; }

.navigation-root { padding: 20px 0 0 0; -webkit-transition: 1s; /* Safari */ transition: 1s; margin: 0; list-style: none; display: inline-flex; justify-content: space-between; align-content: flex-end; }

.navigation-root .navigation-item .navigation-item-title { font-weight: bold; display: block; border: 1px solid transparent; border-radius: 25px; color: #021549; font-size: 16px; margin-left: 60px; padding: 2px 10px 5px 10px; line-height: 1.2; white-space: nowrap; }

.navigation-root .navigation-item.is-active > .navigation-item-title { border: 1px solid #021549; }

.navigation-root .navigation-item.has-active-child > .navigation-item-title { border: 1px solid #021549; }

.navigation-root .navigation-item.has-active-child.first > .navigation-item-title { border: none; }

@media only screen and (max-width: 767px) { .navigation.open { position: relative; background: #fff; z-index: 99; }
  .navigation-branch { background: #12919f; display: inline-block; text-align: center; }
  .navigation-branch .navigation-level1 { display: none; }
  .navigation-branch .navigation-item { padding: 40px 0; }
  .navigation-branch.open { position: fixed; margin: 0; left: 0; right: 0; top: 0; bottom: 0; text-align: center; border-top: 50px solid white; }
  .navigation-branch.open .navigation-level1 { display: block; }
  .navigation-branch.open .navigation-item .navigation-item-title { color: #fff; border: none; padding: 0; margin: 0; }
  .navigation-branch.open .navigation-item:nth-child(1) { padding: 0; position: absolute; top: -38px; left: 10px; font-size: .1px; }
  .navigation-branch.open .navigation-item:nth-child(1) a { font-size: 0; background: #021549; display: inline-block; border-radius: 50%; width: 30px; height: 30px; line-height: 30px; text-align: center; }
  .navigation-branch.open .navigation-item:nth-child(1) .navigation-item-decoration:after { content: "\f015"; display: inline-block; font-family: FontAwesome; font-style: normal; position: relative; font-weight: normal; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; color: #fff; font-size: 20px; margin-top: 0; display: inline-block; }
  .navigation-mobile-menu { display: inline-block; width: 30px; height: 30px; margin-right: 10px; -webkit-transform: rotate(0deg); -moz-transform: rotate(0deg); -o-transform: rotate(0deg); transform: rotate(0deg); -webkit-transition: .5s ease-in-out; -moz-transition: .5s ease-in-out; -o-transition: .5s ease-in-out; transition: .5s ease-in-out; cursor: pointer; background: #fff; border: none; position: relative; z-index: 9; }
  .navigation-mobile-menu span { display: block; position: absolute; right: 0; background: #021549; width: 100%; height: 5px; -webkit-transform: rotate(0deg); -moz-transform: rotate(0deg); -o-transform: rotate(0deg); transform: rotate(0deg); -webkit-transition: .25s ease-in-out; -moz-transition: .25s ease-in-out; -o-transition: .25s ease-in-out; transition: .25s ease-in-out; }
  .navigation-mobile-menu span:nth-child(1) { top: 7px; }
  .navigation-mobile-menu span:nth-child(2), .navigation-mobile-menu span:nth-child(3) { top: 15px; right: 0; }
  .navigation-mobile-menu span:nth-child(4) { top: 23px; }
  .navigation-mobile-menu.open span:nth-child(1), .navigation-mobile-menu.open span:nth-child(4) { top: 18px; width: 0; right: 50%; }
  .navigation-mobile-menu.open span:nth-child(2) { -webkit-transform: rotate(45deg); -moz-transform: rotate(45deg); -o-transform: rotate(45deg); transform: rotate(45deg); }
  .navigation-mobile-menu.open span:nth-child(3) { -webkit-transform: rotate(-45deg); -moz-transform: rotate(-45deg); -o-transform: rotate(-45deg); transform: rotate(-45deg); } }

#header .topnav_submenu .navigation { text-align: center; }

#header .topnav_submenu .navigation.none { display: none; }

#header .topnav_submenu .navigation.theme-color-1 { background: #e2001d; }

#header .topnav_submenu .navigation.theme-color-2 { background: #1e6575; }

#header .topnav_submenu .navigation.theme-color-3 { background: #02c1c1; }

#header .topnav_submenu .navigation.theme-color-4 { background: #f8c91a; }

#header .topnav_submenu .navigation.theme-color-5 { background: #51a045; }

#header .topnav_submenu .navigation .navigation-root { margin: 0; text-align: center; padding: 0; }

#header .topnav_submenu .navigation .navigation-root li.is-active a { border: none; font-weight: bold; }

#header .topnav_submenu .navigation .navigation-root li a { color: #fff; display: inline-block; margin: 0; padding: 5px 15px; font-weight: normal; font-size: 15px; }

@media only screen and (max-width: 767px) { #header .topnav_submenu { display: none; } }
