/* COLOR NAMES
----------------------------------------- */
/*theme colors*/
/*hard-coded colors*/
/* FUNCTIONAL COLORS
----------------------------------------- */
/*border colors*/
/*text colors*/
/*background colors*/
/*gradient colors*/
/* COLOR NAMES
----------------------------------------- */
/*theme colors*/
/*hard-coded colors*/
/* FUNCTIONAL COLORS
----------------------------------------- */
/*border colors*/
/*text colors*/
/*background colors*/
/*gradient colors*/
.richText.left-content { margin-top: 60px; }

@media only screen and (max-width: 767px) { .richText.left-content { margin-top: 10px; } }

.richText .small-font { font-size: 10px; }

.richText h3 { background: #d7e4e4; padding: 10px 0; margin: 0; margin-bottom: 60px; position: relative; }

.richText h3:before { position: absolute; bottom: -38px; left: 50%; border: 19px solid transparent; border-top-color: #d7e4e4; content: ''; margin-left: -19px; }

.richText.transparent * { color: transparent; background: transparent; }

.button-accent-2 { display: inline-block; margin-top: 20px; margin-bottom: 0; background-color: #e2001d; color: #ffffff; font-weight: bold; font-size: 14px; padding: 5px 30px; border-radius: 30px; -webkit-box-shadow: 0 6px 24px -3px rgba(0, 0, 0, 0.39); -moz-box-shadow: 0 6px 24px -3px rgba(0, 0, 0, 0.39); box-shadow: 0 6px 24px -3px rgba(0, 0, 0, 0.39); transition: 0.6s; }

.button-accent-2:hover { color: #ffffff; background-color: #fb0323; -webkit-box-shadow: 0 6px 24px -3px rgba(0, 0, 0, 0.7); -moz-box-shadow: 0 6px 24px -3px rgba(0, 0, 0, 0.7); box-shadow: 0 6px 24px -3px rgba(0, 0, 0, 0.7); transition: 0.6s; }

.download-button { display: inline-block; margin-top: 20px; margin-bottom: 0; background-color: #12919f; color: #ffffff; font-weight: bold; font-size: 14px; padding: 5px 30px; border-radius: 30px; -webkit-box-shadow: 0 6px 24px -3px rgba(0, 0, 0, 0.39); -moz-box-shadow: 0 6px 24px -3px rgba(0, 0, 0, 0.39); box-shadow: 0 6px 24px -3px rgba(0, 0, 0, 0.39); transition: 0.6s; }

.download-button:before { content: "\f019"; display: inline-block; font-family: FontAwesome; font-style: normal; position: relative; font-weight: normal; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; display: inline-block; padding-right: 10px; }

.download-button:hover { color: #ffffff; background-color: #14a1b1; -webkit-box-shadow: 0 6px 24px -3px rgba(0, 0, 0, 0.7); -moz-box-shadow: 0 6px 24px -3px rgba(0, 0, 0, 0.7); box-shadow: 0 6px 24px -3px rgba(0, 0, 0, 0.7); transition: 0.6s; }

@media only screen and (max-width: 420px) { .button-accent-2 { width: 100%; }
  .download-button { width: 100%; } }

/* COLOR NAMES
----------------------------------------- */
/*theme colors*/
/*hard-coded colors*/
/* FUNCTIONAL COLORS
----------------------------------------- */
/*border colors*/
/*text colors*/
/*background colors*/
/*gradient colors*/
.hero-homeTitle { width: 250px !important; min-height: 250px; background-image: url("../../assets/img/dots.png"); background-size: 90%; background-position: 0 -11px; background-repeat: no-repeat; }

.hero-homeTitle h1 { font-size: 3.5em; padding: 15% 0 0 20px; }

@media only screen and (min-width: 768px) and (max-width: 989px) { .hero-homeTitle { width: 200px !important; min-height: 200px; background-image: url(../../assets/img/dots.png); background-size: 80%; background-position: 35px -11px; background-repeat: no-repeat; margin-left: 20px; }
  .hero-homeTitle h1 { font-size: 3.5em; padding: 17% 0 0 70px; } }

@media only screen and (max-width: 767px) { .hero-homeTitle { width: 200px !important; min-height: 200px; background-image: url(../../assets/img/dots.png); background-size: 80%; background-position: 35px -11px; background-repeat: no-repeat; margin-left: 20px; }
  .hero-homeTitle h1 { font-size: 2.5em; padding: 17% 0 0 70px; } }

#wrapper .main .hero-subpageTitle { border-radius: 100%; width: 200px; height: 200px; margin-top: -170px !important; position: relative; z-index: 9; padding: 0 10px; background-color: #e2001d; }

#wrapper .main .hero-subpageTitle .component-content { line-height: 1; display: table-cell; vertical-align: middle; height: 200px; }

#wrapper .main .hero-subpageTitle .component-content h2 { line-height: 1em; padding-top: 65px; font-size: 32px; }

#wrapper .main .hero-subpageTitle .component-content h2 span { display: block; }

#wrapper .main .hero-subpageTitle .component-content h2 span.part-0 { padding-left: 6px; }

#wrapper .main .hero-subpageTitle .component-content h2 span.part-1 { padding-left: 20px; }

#wrapper .main .hero-subpageTitle .component-content h2 span.part-2 { padding-left: 45px; }

#wrapper .main .hero-subpageTitle.color-1 { background-color: #e2001d; }

#wrapper .main .hero-subpageTitle.color-2 { background-color: #1e6575; }

#wrapper .main .hero-subpageTitle.color-3 { background-color: #02c1c1; }

#wrapper .main .hero-subpageTitle.color-4 { background-color: #f8c91a; }

#wrapper .main .hero-subpageTitle.color-5 { background-color: #51a045; }

#wrapper .main .hero-subpageTitle h2, #wrapper .main .hero-subpageTitle h3, #wrapper .main .hero-subpageTitle h4 { color: #ffffff; }

#wrapper .main .hero-subpageTitle h2:nth-child(2), #wrapper .main .hero-subpageTitle h3:nth-child(2), #wrapper .main .hero-subpageTitle h4:nth-child(2) { margin-left: 10px; }

@media only screen and (max-width: 767px) { #wrapper .main .hero-subpageTitle { margin-left: auto !important; margin-right: auto; } }

.richText ol { display: block; padding-left: 15px; padding-top: 15px; }

.richText ol li { color: #021549; list-style-type: none; counter-increment: step-counter; margin-left: 20px; margin-bottom: 30px; display: inline-block; padding-left: 20px; }

.richText ol li:before { background-color: #51a045; content: counter(step-counter); color: #ffffff; border-radius: 100px; padding: 3px 9px 5px 10px; margin-left: -45px; margin-right: 20px; text-align: center; font-weight: bold; }

.accent { color: #e2001d; }

.accent-title { margin-bottom: 10px; }

.accent-title img { border-radius: 100%; padding: 5px; margin-right: 15px; vertical-align: middle; display: inline-block; float: none; background-color: #e2001d; }

.accent-title.color-1 img { background-color: #e2001d; }

.accent-title.color-2 img { background-color: #1e6575; }

.accent-title.color-3 img { background-color: #02c1c1; }

.accent-title.color-4 img { background-color: #f8c91a; }

.accent-title.color-5 img { background-color: #51a045; }

.accent-title .richText-content { max-width: 85%; line-height: 55px; display: inline-block; vertical-align: middle; }

.accent-title .richText-content h2 { line-height: 1.3em; margin: 0; padding: 0; text-align: left; }

@media only screen and (max-width: 767px) { .accent-title .richText-content { max-width: 75%; } }

@media only screen and (min-width: 768px) and (max-width: 989px) { .accent-title .richText-content { max-width: 75%; } }

.committe-tile { cursor: pointer; margin-bottom: 20px; min-height: 100px; }

@media only screen and (max-width: 767px) { .committe-tile.alpha.active { margin-bottom: 400px; } }

.committe-tile p { font-size: 1em; margin: 0; padding: 0 0 3px 0; }

.committe-tile .component-content { display: flex; -ms-flex-align: center; -webkit-align-items: center; -webkit-box-align: center; align-items: center; }

.committe-tile .component-content img { filter: url("data:image/svg+xml;utf8,&lt;svg xmlns='http://www.w3.org/2000/svg'&gt;&lt;filter id='grayscale'&gt;&lt;feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/&gt;&lt;/filter&gt;&lt;/svg&gt;#grayscale"); /* Firefox 10+, Firefox on Android */ filter: gray; /* IE6-9 */ -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */ transition: 0.6s; position: relative; padding-right: 10px; /*! Gray v1.6.0 (https://github.com/karlhorky/gray) | MIT */ }

.committe-tile .component-content img:hover { filter: grayscale(0); transition: 0.6s; }

.committe-tile .component-content .richText-content { padding: 0 10px 0 20px; }

.committe-tile .component-content .richText-content strong { color: #12919f; }

.committe-tile .component-content .richText-content p { font-size: 1em; margin: 0; padding: 0 0 3px 0; }

@media only screen and (max-width: 767px) { .committe-tile .component-content .richText-content p { font-size: 1em; line-height: 1.2em; } }

.back-button { margin-bottom: 0 !important; float: left !important; display: inline-block !important; width: initial !important; }

.back-button p a { text-transform: uppercase; color: #12919f; font-weight: bold; }

.back-button p a:before { content: "\f009"; display: inline-block; font-family: FontAwesome; font-style: normal; position: relative; font-weight: normal; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; margin-right: 5px; }

.richtext-references { border-top: 1px solid #9d9d9d; padding-bottom: 20px; margin-top: 15px; }

.richtext-references p { font-size: 12px; padding: 0 0 5px 0 !important; }

.richtext-references ol { padding: 0; margin: 0; }

.richtext-references ol li { font-size: 12px; font-weight: normal; padding: 0 20px 10px 30px; margin: 0; text-align: left; }

.richtext-references ol li:before { background: transparent; content: counter(step-counter); font-size: .8em; padding: 0 0 0; margin: -2px 0 0 -15px; border-radius: 0; color: #9c8831; font-weight: normal; display: inline-block; float: left; }

.richText-content a.references { color: #9c8831; position: relative; top: -0.5em; font-size: .8em; }

.richText-content a.references:before { content: '['; }

.richText-content a.references:after { content: ']'; }

.richText-content h1 a.references, .richText-content h2 a.references, .richText-content h3 a.references, .richText-content h4 a.references { font-size: 0.6em; font-weight: normal; }
