/* COLOR NAMES
----------------------------------------- */
/*theme colors*/
/*hard-coded colors*/
/* FUNCTIONAL COLORS
----------------------------------------- */
/*border colors*/
/*text colors*/
/*background colors*/
/*gradient colors*/
/*rename this to feed-provider*/
.twitter { border: solid 2px #323131; padding: 13px; background-color: #e1e1e1; }

.feed-provider-heading { display: inline-block; margin: 0 0 0 20px; line-height: 30px; }

.feed-provider-description { border-bottom: 1px solid #000; margin: 10px 0; padding: 10px 0; }

.feed-provider-heading-image { float: left; width: 30px; height: 30px; }

.feed-provider-feeds { padding: 0; margin: 0; }

/*twitter template*/
.twitter-feed { list-style-type: none; padding-left: 55px; margin: 10px 0; display: block; position: relative; }

.twitter-feed:before, .twitter-feed:after { content: ""; display: table; }

.twitter-feed:after { clear: both; }

.twitter-content a:hover strong { text-decoration: underline; }

.twitter-sender-avatar { position: absolute; top: 3px; left: 0; }

.twitter-date { float: right; }

.twitter-actions { padding: 0; margin: 0; float: right; }

.twitter-action { list-style-type: none; display: inline; }
