.box-960 {
    .component-content {
        background-size: cover;
        background-position: bottom center;
        background-repeat: no-repeat;

      .content {
        max-width: 960px;
        margin: 0 auto;
        padding: 15px 0;

        .tiles {
          margin-bottom: 0;
        }

      }
    }
  }
.box-960.last {
  margin-bottom: 0;
}

@include respond-to(mobile) {
  .box-960 {
    & > .component-content {
      background-image: none;
       & > .content {
          text-align: left;
          padding: 0 10px!important;
         .tiles {
           padding: 0;
         }
        }
      }
    }
  }

@include respond-to(tablet) {
  .box-960 {
    .component-content {
      background-image: none;
      .content {
        text-align: left;
        padding-right: 15px;
        line-height: 1.3em;
        margin-bottom: 0;
      }
    }
  }
}