.feature-box {
  background-color: $background-feature-box;
  padding: 15px;
  margin-bottom: 20px;
  .richText {
    p {
      padding: 0 0 10px 0;
      margin: 0;
      font-size: 14px;
    }
    h3 {
      font-weight: bold;
      margin: 0;
      padding: 0;
      background: transparent;
      font-size: 1.2em;
      &:before {
        display: none;
      }
    }
  }

  img {
    padding-top: 0;
  }

  .component-content.left {
    @include respond-to(mobile) {
      text-align: center;

    }
    @include respond-to(tablet) {
      text-align: center;

    }
  }

}