@import '../../core/mixins';

.shareThis-list {
    overflow: hidden;
    margin: 0;
    padding: 0;
    list-style: none;
}

.shareThis-list li {
    float: left;
    width: auto;
    height: 26px;
    margin: 0 10px 10px 0;
}

.shareThis-list li:last-child {
    margin-right: 0;
    margin-right: 0;
}

.shareThis-item a {
    display: block;
    height: 26px;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
}

.shareThis-item img {
    opacity: 0.7;
    -webkit-transition: opacity .2s ease-in-out;
    -moz-transition: opacity .2s ease-in-out;
    -o-transition: opacity .2s ease-in-out;
    transition: opacity .2s ease-in-out;
}

.shareThis-item a:hover img {
    opacity: 1;
}
