@import '../../core/mixins';

.videoGallery-heading {
  @include heading();
}

.videoGallery-video {
  border: 2px solid $borderColor;
}

.videoGallery-video object,
.videoGallery-video embed {
  width: 100% !important;
}

.videoGallery-thumbnails {
  position: relative;
  margin-top: 18px;
}

.videoGallery-list {
  overflow: hidden;
  margin: 0 50px;
  position: relative;
}

.videoGallery-arrow,
.videoGallery-arrow.is-disabled:hover {
  position: absolute;
  top: 0;
  cursor: pointer;
  width: 35px;
  height: 60px;
  background-position: 50%;
  background-repeat: no-repeat;
  font: 0/0 serif;

  &:before {
    position: absolute;
    top: 50%;
    color: #aaa;
  }
}

.videoGallery-arrow:hover:before {
  color: #888;
}

.videoGallery-description {
  margin: 15px 0;
}

.videoGallery-arrow.is-disabled {
  opacity: 0.5;
}

.videoGallery-arrow-left,
.videoGallery-arrow-left.is-disabled:hover {
  left: 0;
  &:before {
    @include font-awesome($fa-var-chevron-left);
    font-size: 30px;
  }
}

.videoGallery-arrow-right,
.videoGallery-arrow-right.is-disabled:hover {
  right: 0;
  text-align: right;
  &:before {
    @include font-awesome($fa-var-chevron-right);
    font-size: 30px;
  }
}

.videoGallery-list-inner {
  overflow: hidden;
  display: block;
  position: relative;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
  list-style: none;
}

.videoGallery-thumbnail {
  float: left;
  overflow: hidden;
  padding: 0;
  margin: 0 9px;
  cursor: pointer;
  text-align: center;
  position: relative;
  display: inline;
  max-width: 100px;
}

.videoGallery-thumbnail-title {
  display: block;
  margin: 10px auto 0 auto;
  font-size: 11px;
  width: 71px;
}

.videoGallery .thumbnails-list li:hover .image,
.videoGallery .thumbnails-list li.active .image {
  border: solid 4px $borderColor;
  margin: 0;
}

.videoGallery-thumbnail-image {
  margin: 2px;
  border: solid 2px $borderColor;
  position: relative;
}

.videoGallery-thumbnail-overlay {
  opacity: 0.7;
  height: 28px;
  left: 50%;
  margin: -14px 0 0 -15px;
  position: absolute;
  top: 50%;
  width: 30px;
  &:before {
    @include font-awesome($fa-var-play);
    @include box-sizing(border-box);
    @include border-radius(50%);
    display: inline-block;
    font-size: 15px;
    width: 100%;
    height: 100%;
    border: 3px solid #3e3e3e;
    text-indent: 5px;
    background: #fff;
    text-align: center;
    line-height: 24px;
  }
}

.videoGallery-thumbnail.is-active .videoGallery-thumbnail-overlay {
  opacity: 0;

  -moz-transition: opacity .5s;
  -webkit-transition: opacity .5s;
  -o-transition: opacity .5s;
  -ms-transition: opacity .5s;
  transition: opacity .5s;
}

.videoGallery-thumbnail-image img {
  display: block;
  margin: 0 auto;
}

.mod-js {
  .videoGallery-nojs {
    display: none;
  }
}