.navigation-mobile-menu {
  display: none;
}

.navigation {
  text-align: right;
}

.navigation-root {
  padding: 20px 0 0 0;
  -webkit-transition: 1s; /* Safari */
  transition: 1s;
  margin: 0;
  list-style: none;
  display: inline-flex;
  justify-content: space-between;
  align-content: flex-end;

  .navigation-item {
    .navigation-item-title {
      font-weight: bold;
      display: block;
      border: 1px solid transparent;
      border-radius: 25px;
      color: $text-default;
      font-size: 16px;
      margin-left: 60px;
      padding: 2px 10px 5px 10px;
      line-height: 1.2;
      white-space: nowrap;
    }

    &.is-active {
      & > .navigation-item-title {
        border: 1px solid $text-default;

      }
    }
     &.has-active-child {
      & > .navigation-item-title {
        border: 1px solid $text-default;
      }
       &.first {
         & > .navigation-item-title {
           border: none;
         }
       }
    }
  }
}

@include respond-to(tablet){

}

@include respond-to(mobile){
  .navigation {
    &.open {
      position: relative;
      background: #fff;
      z-index:99;
    }
  }
  .navigation-branch {
    background: $color-primary;
    display: inline-block;
    text-align: center;

    .navigation-level1 {
      display: none;
    }
    .navigation-item {
      padding: 40px 0;
    }
    &.open {
      position: fixed;
      margin: 0;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      text-align: center;
      border-top: 50px solid $white;

      .navigation-level1 {
        display: block;
      }
      .navigation-item {
        .navigation-item-title {
          color: #fff;
          border: none;
          padding: 0;
          margin: 0;

        }
        &:nth-child(1) {
          padding: 0;
          position: absolute;
          top: -38px;
          left: 10px;
          font-size: .1px;
          a {
            font-size: 0;
            background: #021549;
            display: inline-block;
            border-radius: 50%;
            width: 30px;
            height: 30px;
            line-height: 30px;
            text-align: center;;

          }

          .navigation-item-decoration {
            &:after {
              @include font-awesome($fa-var-home);
              color: #fff;
              font-size: 20px;
              margin-top: 0;
              display: inline-block;
            }
          }
        }
      }
    }
  }
  .navigation-mobile-menu {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    background: #fff;
    border: none;
    position: relative;
    z-index: 9;
    span {
      display: block;
      position: absolute;
      right: 0;
      background: #021549;
      width: 100%;
      height: 5px;

      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: .25s ease-in-out;
      -moz-transition: .25s ease-in-out;
      -o-transition: .25s ease-in-out;
      transition: .25s ease-in-out;

      &:nth-child(1) {
        top: 7px;
      }
      &:nth-child(2), &:nth-child(3) {
        top: 15px;
        right: 0;
      }
      &:nth-child(4) {
        top: 23px;
      }
    }

    &.open {
      span {
        &:nth-child(1),&:nth-child(4) {
          top: 18px;
          width: 0;
          right: 50%;
        }
        &:nth-child(2) {
          -webkit-transform: rotate(45deg);
          -moz-transform: rotate(45deg);
          -o-transform: rotate(45deg);
          transform: rotate(45deg);
        }
        &:nth-child(3) {
          -webkit-transform: rotate(-45deg);
          -moz-transform: rotate(-45deg);
          -o-transform: rotate(-45deg);
          transform: rotate(-45deg);
        }
      }
    }
  }
}