.back-button {
  margin-bottom: 0!important;
  float: left!important;
  display: inline-block!important;
  width: initial!important;
  p {
    a {
      text-transform: uppercase;
      color: $color-primary;
      font-weight: bold;
      &:before {
        @include font-awesome($fa-var-th-large);
        margin-right: 5px;
      }
    }
  }
}
