@import '../core/mixins';


.hero-homeTitle {
  width: 250px!important;
  min-height: 250px;
  background-image: url('../../assets/img/dots.png');
  background-size: 90%;
  background-position: 0 -11px;
  background-repeat: no-repeat;
  h1 {
    font-size: 3.5em;
    padding: 15% 0 0 20px;
  }

  @include respond-to(tablet){
    width: 200px !important;
    min-height: 200px;
    background-image: url(../../assets/img/dots.png);
    background-size: 80%;
    background-position: 35px -11px;
    background-repeat: no-repeat;
    margin-left: 20px;
    h1 {
      font-size: 3.5em;
      padding: 17% 0 0 70px;
    }
  }

  @include respond-to(mobile){
    width: 200px !important;
    min-height: 200px;
    background-image: url(../../assets/img/dots.png);
    background-size: 80%;
    background-position: 35px -11px;
    background-repeat: no-repeat;
    margin-left: 20px;
    h1 {
      font-size: 2.5em;
      padding: 17% 0 0 70px;
    }
  }

}









