.richText {
  ol {
    display: block;
    padding-left: 15px;
    padding-top: 15px;
    li {
      color: $text-default;
      list-style-type: none;
      counter-increment: step-counter;
      margin-left: 20px;
      margin-bottom: 30px;
      display: inline-block;
      padding-left: 20px;
      &:before{
        background-color: $color-accent-5;
        content: counter(step-counter);
        color: $text-light;
        border-radius: 100px;
        padding: 3px 9px 5px 10px;
        margin-left: -45px;
        margin-right: 20px;
        text-align: center;
        font-weight: bold;
      }
    }
  }
}