.richtext-references {
  border-top: 1px solid $border;
  padding-bottom: 20px;
  margin-top: 15px;
  p {
    font-size: 12px;
    padding: 0 0 5px 0!important;
  }
  ol {
    padding: 0;
    margin: 0;
    li {
      font-size: 12px;
      font-weight: normal;
      padding: 0 20px 10px 30px;
      margin: 0;
      text-align: left;
      &:before {
        background: transparent;
        content: counter(step-counter);
        font-size: .8em;
        padding: 0 0 0;
        margin: -2px 0 0 -15px;
        border-radius: 0;
        color: $color-references;
        font-weight: normal;
        display: inline-block;
        float: left;
      }
    }
  }
}


.richText-content {
  a {
    &.references {
      color: $color-references;
      position: relative; top: -0.5em; font-size: .8em;
      &:before {
        content: '[';
      }
      &:after {
        content: ']';
      }
    }
  }
  h1, h2, h3, h4 {
    a {
      &.references {
        font-size: 0.6em;
        font-weight: normal;
      }
    }
  }
}

