.main {
  .side-image {
    margin: 0;
    line-height: 0;

    @include respond-to(mobile) {
           display: none!important;
         }
    @include respond-to(tablet) {

    }
  }
}



.analytics-image-tracking {

  @include respond-to(mobile) {
    text-align: center;

  }
  @include respond-to(tablet) {
    text-align: center;

  }
}