.country-selector{
  float: right;
  margin-bottom: 10px;
  display: none;

  img, span {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }

  span {
    font-size: 14px;
    font-weight: bold;
    padding: 0 5px;
  }

  input {
    display: none;

    & ~ ul{
      display: none;
    }

    &:checked ~ ul{
      display: block;
      position: absolute;
      background: #fff;
    }
    &:checked ~ label {
      &:after {
        @include font-awesome($fa-var-angle-up);
      }
    }
  }

  label {
    display: block;
    border: 1px solid $text-default;
    border-radius: 25px;
    position: relative;
    z-index: 2;
    padding: 0 5px;

    &:after {
      @include font-awesome($fa-var-angle-down);
      top: 2px;
    }

    &:hover {
      cursor: pointer;
    }
  }
  ul {
    padding: 0 5px;
    margin: 0;

    li {
      display: block;

      &:hover {
        cursor: pointer;
      }
    }
  }
}

@include respond-to(mobile){
  .country-selector {
    position: absolute;
    margin-bottom: 0;
    right: 80px;
    z-index: 10;

    span {
      display: none;
    }

    label {
      &:after {
        padding-left: 5px;
      }
    }
    input {
      &:checked ~ label {
        &:after {
          top: 0;
        }
      }
    }
  }
}