.parametrizedhtml {
    margin: 0;
}




.snippetReference {
    &.unity-tool {
        background: #fff;

        .unity-tool-list {

            .image_1,.image_2,.image_3 {
                position: absolute;
                background-repeat: no-repeat;
                background-position: top right;
                background-size: 100%;
                font-size: 0;
                width: 150px;
                height: 150px;
                right: 0;
            }
            .image_1 {
                 background-image: url(../../assets/img/unity-form-1.png);
                top: 60px;
                right: 140px;
            }
            .image_2 {
                background-image: url(../../assets/img/unity-form-2.png);
                top: 180px;
                right: 40px;
            }
            .image_3 {
                background-image: url(../../assets/img/unity-form-3.png);
                background-position: right bottom;
                bottom: -18px;
                right: 0;
                width: 250px;
                height: 250px;
            }
        }


        .box-header {
            p { font-size: 2rem; color: #855297; font-weight: bolder;}
            h4 { font-size: 2rem; color: #41395e; font-weight: bolder;}
        }

        .parametrizedhtml {
            border: 20px solid #eb67a2;
            position: relative;
            .unity-tool-list {




                input[type="checkbox"] {
                    display:none;
                }

                input[type="checkbox"] + label span {
                    display:inline-block;
                    width:19px;
                    height:19px;
                    border: 1px solid #1b6bb5;
                    margin:-2px 10px 0 0;
                    vertical-align:middle;
                    background: #fff;
                    cursor:pointer;
                }

                input[type="checkbox"]:checked + label span {
                    background-image: url(../../assets/img/check_icon.svg);
                    background-size: 90%;
                    background-position: 1px 0;
                    background-repeat: no-repeat;
                }




                .unity-tool-list-header {
                    background: #c30f77;
                    padding: 20px 0;
                    margin: 0;
                    text-align: center;
                    color: #fff;
                    font-weight: bold;
                    font-size: 1.5rem;
                }
                ul {
                    margin: 0;
                    padding: 20px;
                    li {
                        list-style: none;
                        margin: 0;
                        padding: 10px 20px;
                        font-weight: bold;
                        font-size: 1.5rem;
                        color: #1b6bb5;
                        position: relative;
                        input {
                            margin-right: 15px;
                        }
                    }
                }
            }
        }
        .box-footer {
            padding: 20px 40px;
            h3 {
                font-weight: bold;
                font-size: 1.5rem;
                color: #fff;
                background: #48bed0;
                padding: 10px 20px;
                text-align: center;
                border-radius: 15px;
                box-shadow: 0 0 13px rgba(0,0,0,0.7);
                cursor: pointer;
                &:before {
                    display: none;
                }
            }
            img {
                padding-right: 20px;
            }
            p {
                font-weight: bold;
                font-size: 1.5rem;
                color: #312850;
                margin: 0;
                padding: 0 0 15px 0;
            }
        }
    }
}


