@import '../../core/mixins';

.breadcrumbs {
  margin: 10px 0;
}

.breadcrumbs-list {
  overflow: hidden;
  margin: 0;
  padding: 0;
  list-style: none;
}

.breadcrumbs-list li {
  float: left;
  margin-right: 6px;
}

.breadcrumbs-separator {
  margin: 0 10px;
}
.breadcrumbs-without-separator {
  .breadcrumbs-separator {
    display: none;
  }
  li {
    padding-right: 15px;
    margin-right: 9px;
    position: relative;
    &:before {
      @include font-awesome($fa-var-chevron-right);
      position:absolute;
      top: 5px;
      right: 0;
      font-size: 8px;
    }
  }
  li:last-child {
    background-image: none;
    &:before {
      display: none;
    }
  }
}

@include respond-to(mobile) {
  .breadcrumbs-list li {
    float: none;
  }
}
