@import '../../core/mixins';

.map-canvas {
    @include frame();
    margin-bottom: 10px;
    text-align: center;
}

.map-canvas img {
    width: 100%;
    max-width:inherit;
}

.no-js .map-canvas img {
	width:100%;
	max-width: 640px;
}
